<div>
  <form #AddForm="ngForm"    novalidate >
        
    <div class="form-group row">
      <label class="col-2 col-form-label" for="name">Customer Name</label>
      <div class="col-10">
    
      <input  disabled name="customername"  class="form-control input" required minlength="4" [(ngModel)]="customerName" #name="ngModel" >

        
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Customer Address</label>
      <div class="col-10">
        <input disabled class="form-control input" type="text" name="customeraddress" [(ngModel)] = "customerAddress" #customeraddress="ngModel" required>
      
      </div>
    </div>


    <div class="form-group row">
      <label class="col-2 col-form-label">Customer Company</label>
      <div class="col-10">
        <input  disabled class="form-control input" type="text"  name="customercompany" [(ngModel)] = "customerCompany"   #customercompany="ngModel" required>
      
        <div *ngIf="customercompany.invalid && (customercompany.dirty || customercompany.touched)"  class="alert alert-light">
            
          
           
        </div>
      
      </div>
    </div>


    <div class="form-group row">
      <label class="col-2 col-form-label">Customer Phone</label>
      <div class="col-10">
        <input  disabled class="form-control  input" type="text"   name="customerphone" minlength="11" [(ngModel)] = "customerPhone" #customerphone="ngModel"  required>
      
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Customer Phone 2</label>
      <div class="col-10">
        <input  disabled class="form-control  input" type="text"  name="customerphone2"  [(ngModel)] = "customerPhone2" #customerphone2="ngModel">

        
      </div>  
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Customer Email</label>
      <div class="col-10">
        <input disabled class="form-control input" type="email"  name="customeremail" [(ngModel)] = "customerEmail" #customeremail="ngModel">
        
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Customer Email 2</label>
      <div class="col-10">
        <input  disabled class="form-control input" type="email"  name="customeremail2" [(ngModel)] = "customerEmail2">
     
      </div>
    </div>


      <div class="form-group row">
        <label class="col-2 col-form-label">Customer Payment</label>
        <div class="col-10">
          <select class="form-control input" [(ngModel)] = "lead_payment" name="lead_payment" required>
            <option *ngFor = "let payment of payments" value = "{{payment.name}}">{{ payment.name }}</option>
          </select>
        </div>
      </div>
  
      <div class="form-group row">
        <label class="col-2 col-form-label">Stage</label>
        <div class="col-10">
          <select class="form-control input" [(ngModel)] = "stage" name="stage" >
              <option *ngFor = "let stage of stages" value = "{{stage.id}}">{{ stage.name }}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Department</label>
        <div class="col-10">
          <select class="form-control input" [(ngModel)] = "department"  name="department" required>
            <option *ngFor = "let department of departments" value = "{{department.id}}">{{ department.name }}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Source</label>
        <div class="col-10">
          <select class="form-control input" [(ngModel)] = "lead_source" name="lead_source" required>
            <option *ngFor = "let source of sources" value = "{{source.id}}">{{ source.name }}</option>
          </select>
        </div>
      </div>
  
      <div class="form-group row" *ngIf="securityService.checkPrivilage('12')">  
        <label class="col-2 col-form-label">Assign lead</label>
        <div class="col-10">
          <select class="form-control input" [(ngModel)] = "assignedEmployee"  name="me" >
            <option *ngFor = "let employee of employees"  [ngValue] = "employee.id">{{ employee.name }}</option>
         </select>
        </div>
      </div>
  
  <!--
      <div class="form-group row">
        <label class="col-2 col-form-label">upload file</label>
        <div class="col-10">
          <input type="file" multiple (change)="processSelectedFiles($event)" >
          <input class="form-control input" type="text"  name="urld" value="{{progress}}">
          <div class="card">
              <div class="card-body">
                  <div *ngIf="boo">
                    <div *ngIf="progress===100">
                        <p><ngb-progressbar #show type="info" id= "myBar" value="{{progress}}">Done</ngb-progressbar></p>
                    </div>   
                    <div *ngIf="progress<100">
                        
                <p><ngb-progressbar #show1 type="info" id= "myBar" value="{{progress}}" styles= "background-color=red">Copying file...</ngb-progressbar></p>
                  </div>  
                </div>
              </div>
            </div>
          
      
  
        </div>
      </div>
    -->
      <div class="form-group row">
        <label class="col-2 col-form-label">VIP Customer</label>
        <div class="col-10">
          <input [(ngModel)]="vip" type="checkbox" name="vip">        
        </div>
      </div>
  
    </form>
  
  
  
   <div class = "addbutton" >
      <label class="form-check-label ">
        <button class="btn btn-success" (click) = "show('Product')">Add Product</button>
      </label>
      <label class="form-check-label">
       <button class="btn btn-primary" style="width:107%" (click) = "show('Service')">Add Service</button>
      </label>
    </div>
    <br>
  
   <hr>
   
    <div *ngFor = "let add of addProducts, let i = index">
      <div class="form-group row">
      <h6> Add Product #{{i+1}} </h6>
        <a  style = "margin-left: 68%;color:red" (click)="addProducts.splice(i,1);count.splice(i,1);products.splice(i,1)">
        <i class = "icon-close"></i>    
        </a>
      </div>
    <br>
    <div class="form-group row">
        <label class="col-2 col-form-label">Product </label>
        <div class="col-10">
          <select class="form-control"  id="products" [(ngModel)]="products[i]"  name="first"    required>
               <option *ngFor = "let product of productObjects"  name="name" [ngValue] = "product" > {{product.Name}}</option>
          </select>
        </div>
    </div>
  
    <div class="form-group row">
        <label class="col-2 col-form-label">Count</label>
        <div class="col-10">
          <input class="form-control" type="number"  [(ngModel)] = "count[i]" name="me" >
        </div>
    </div>
  
     
  </div>
  <hr>
  
    <div *ngFor = "let add of addServices, let i = index">
      <div class="form-group row">
      <h6> Add Service #{{i+1}} </h6>
        <a  style = "margin-left: 68%;color:red" (click)="addServices.splice(i, 1); serviceID.splice(i,1);input.splice(i,1); fields.splice(i,1); fieldTypes.splice(i,1);multivalued.splice(i,1)">
        <i class = "icon-close"></i>    
        </a>
      </div>
  
  
      <div class="form-group row">
        <label class="col-2 col-form-label">Service Name</label>
        <div class="col-10">
          <select class="form-control" [(ngModel)] = "serviceID[i]" (change) = "populate(i)" name="name" >
            <option *ngFor = "let service of services" name= "name2" [ngValue] = "service.id">{{ service.name }}</option>
          </select> 
        </div>
      </div>
  
      <div class="form-group row" *ngFor = "let field of fields[i], let j=index">
        <label class="col-2 col-form-label">{{ field }}</label>
        <div class="col-10">
          <input class="form-control" type="text" [(ngModel)] = "input[i][j]" *ngIf = "fieldTypes[i][j] == 'varchar'" name="">
            <!-- <input class="form-control" name="date" [returnObject]= " 'js' " [viewFormat] = "'ll'" [value]="input[i][j] | date: 'yyyy-MM-dd HH:mm:ss'" [(ngModel)]="input[i][j]" dateTimePicker [mode]="'dropdown'" *ngIf = "fieldTypes[i][j] == 'datetime'" >  --> 
         
          <input class="form-control" type="number"  [(ngModel)] = "input[i][j]"  *ngIf = "fieldTypes[i][j] == 'int'" name="meme">
          <input class="form-control" type="checkbox"  [(ngModel)] = "input[i][j]"   *ngIf = "fieldTypes[i][j] == 'boolean'"name ="type">
          <select class="form-control" [(ngModel)] = "input[i][j]"  *ngIf = "fieldTypes[i][j] == 'select'" name="">
                  <option *ngFor = "let value of multivalued[i][j]">{{ value }}</option>
          </select>
        </div>
       </div>
    </div>
  
  
  
  
  
  
  
  
  
  
  
    <div class="modal-footer">
     <!-- <button type="button" class="btn btn-secondary" (click)="close()">Done</button>-->
     <button type="button" class="btn btn-secondary"  (click)="close()" >Done</button>
     <button type="button" class="btn btn-secondary" >Cancel</button>
    </div>
  
  
  
  </div>
  
  


