<div class="alert alert-{{alert.type}} alert-block" *ngIf="alert.visible">
    <strong>{{alert.message}}!</strong>
    <span class="close" (click)="dismissAlert()">&times;</span>
  </div>
<div class="card">
  <div class="card-block">

    <div class="form-group row">
      <label class="col-2 col-form-label">From</label>
      <div class="col-10">
        <select class="form-control input" [(ngModel)] = "zone.from_id" name="from_id" >
          <option *ngFor = "let zone of zones" value = "{{zone.id}}">{{ zone.name }}</option>
      </select>     
     </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">To </label>
      <div class="col-10">
        <select class="form-control input" [(ngModel)] = "zone.to_id" name="to_id" >
          <option *ngFor = "let zone of zones" value = "{{zone.id}}">{{ zone.name }}</option>
      </select> 
          </div>
    </div>
    
    <div class="form-group row">
      <label class="col-2 col-form-label">Type</label>
      <div class="col-10">
          <select class="form-control" [(ngModel)] = "zone.car_type_id"  required>
            <option *ngFor = "let type of types" value = "{{type.id}}">{{ type.model+' '+type.manufacturer }}</option>
          </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label"> price </label>
      <div class="col-10">
        <input class="form-control" type="number" min="0"  name="nameee" [(ngModel)] = "zone.price" required>
      </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label"> peak hour price </label>
        <div class="col-10">
          <input class="form-control" type="number" min="0"  name="number" [(ngModel)] = "zone.peak_hour_price" required>
        </div>
      </div>
      
    


    <button class="btn btn-success btn-block" (click) = "done()">Done!</button>
    <button id="cancel" class="btn btn-success btn-block" (click) = "back()">Cancel</button>
    
  </div>
</div>
    