<div class="alert alert-{{alert.type}} alert-block" *ngIf="alert.visible">
    <strong>{{alert.message}}!</strong>
    <span class="close" (click)="dismissAlert()">&times;</span>
  </div>
<div class="card">
  <div class="card-block">
<form>
   <div class="form-group row">
      <label class="col-2 col-form-label"> from  </label>
      <div class="col-10">
        <select class="form-control input" [(ngModel)] = "zone.from_id" name="from_id"  *ngIf = "edit">
          <option *ngFor = "let z of zones" value = "{{z.id}}">{{ z.name }}</option>
      </select> 
      <label  id="rname"   class="col-12"  *ngIf = "!edit"  >{{ zone?.F }}</label>

      </div>
    </div>

        <div class="form-group row">
        <label class="col-2 col-form-label">to </label>
        <div class="col-10">
        <select class="form-control input" [(ngModel)] = "zone.to_id" name="to_id"  *ngIf = "edit">
          <option *ngFor = "let z of zones" value = "{{z.id}}">{{ z.name }}</option>
      </select> 
       <label  id="rname"   class="col-12"  *ngIf = "!edit"  >{{ zone?.T }}</label> 

        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label"> price</label>
        <div class="col-10">
          <input class="form-control" type="text" *ngIf = "edit" name="price" [(ngModel)] = "zone.price" required/>
          <label  id="rname"   class="col-12"  *ngIf = "!edit"  >{{ zone?.price }}</label>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">  peak hour price </label>
        <div class="col-10">
          <input class="form-control" type="text" *ngIf = "edit" name="peak_hour_price" [(ngModel)] = "zone.peak_hour_price" required/>
          <label  id="rname"   class="col-12"  *ngIf = "!edit"  >{{ zone?.peak_hour_price }}</label>
        </div>
      </div>


   <div class="form-group row">
      <label class="col-2 col-form-label">type</label>
      <div class="col-10">
        <select class="form-control" name="car_type" [(ngModel)] = "zone.car_type" *ngIf = "edit"  required>
          <option *ngFor = "let type of types" value = "{{type.id}}">{{ type.model+' '+type.manufacturer }}</option>
        </select>
        <label class="col-12"  *ngIf = "!edit"  id="top" >{{ zone?.car_type_id }}</label>
      </div>
    </div>


  

     
  </form>
    

    <button id="edit" class="btn btn-primary btn-block" *ngIf = "!edit" (click) = "editZone()">Edit</button>
    <button class="btn btn-success btn-block" *ngIf = "edit" (click) = "done()">Done!</button>
    <button  id ="cancel"  class="btn btn-success btn-block" (click) = "back()">Cancel</button>
    
  </div>
</div>
