<div style = "padding:2px">
    
   
    </div>

    <br>
    <br>
    <div style="overflow-x:auto;">
    <table class="table table-hover" *ngIf="!spinner">
      <thead>
        <tr>
          <th *ngFor="let header of headers"><a> {{ header }}</a>
            <i class="icon-arrows-up" *ngIf="header == selectedHeader && asc"></i>
            <i class="icon-arrows-down" *ngIf="header == selectedHeader && !asc"></i>
          </th>
          <th>
            Cancel
          </th>
         
        </tr>
      </thead>
     <tbody>
        <tr style="cursor:pointer;" *ngFor="let trip of rows">
         <!--
          <td (click) = "securityService.checkPrivilage(38) && open(employee)">
            {{ employee.id }}
          </td>
    
        -->
          <td (click) = "securityService.checkPrivilage(38)">
            {{ trip.start_time }}
          </td>
          <td (click) = "securityService.checkPrivilage(38)">
            {{ trip.end_time }}
          </td>
          <td (click) = "securityService.checkPrivilage(38)">
            {{ trip.addressFrom }}
          </td>
          <td (click) = "securityService.checkPrivilage(38)">
            {{ trip.addressTo}}
          </td>
          <td (click) = "securityService.checkPrivilage(38)">
            {{ trip.status }}
          </td>
          <td (click) = "securityService.checkPrivilage(38)">
            {{ trip.distance }}
          </td>
          <td (click) = "securityService.checkPrivilage(38)">
            {{ trip.duration }}
          </td>
          <td (click) = "securityService.checkPrivilage(38)">
            {{ trip.number }}
          </td>
          <td (click) = "securityService.checkPrivilage(38)">
            {{ trip.type }}
          </td>
          <td (click) = "securityService.checkPrivilage(38)">
              {{ trip.fromZone }}
            </td>
         
          <td (click) = "securityService.checkPrivilage(38)">
              {{ trip.toZone }}
            </td>
            

          <td (click) = "securityService.checkPrivilage(38)">
              {{ trip.price }}
            </td>

            <td (click) = "securityService.checkPrivilage(38)">
              <a *ngIf="securityService.checkPrivilage(33) && trip.status!=='cancelled'" (click) = "cancelTrip(trip.id)" ><i class=" icon-basic-trashcan-remove" ></i>Cancel</a>
              <a *ngIf="securityService.checkPrivilage(33) && trip.status=='cancelled'" (click) = "undoTrip(trip.id)" ><i class=" icon-basic-trashcan-remove" ></i>Undo</a>

            </td>
        </tr>
      </tbody>
    </table>
    </div>
    
    
    <div class="loader01" *ngIf="spinner"></div>
    
    
    
    <div>
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="3" [boundaryLinks]="false" [(pageSize)]="pageSize"
        (pageChange)="onPager($event)"></ngb-pagination>
    </div>
    