<div class="alert alert-{{alert.type}} alert-block" *ngIf="alert.visible">
        <strong>{{alert.message}}!</strong>
        <span class="close" (click)="dismissAlert()">&times;</span>
      </div>
    <div class="card">
      <div class="card-block">
        
        <div class="form-group row">
          <label class="col-2 col-form-label">status option for cars</label>
          <div class="col-10">
            <input class="form-control" type="text"  name="name" [(ngModel)] = "status.name" required>
          </div>
        </div>
    
        
    
    
        <button class="btn btn-success btn-block" (click) = "done()">Done!</button>
        <button id="cancel" class="btn btn-success btn-block" (click) = "back()">Cancel</button>
        
      </div>
    </div>
        