<div class="modal-header">
        <h4 class="modal-title">Delete Stage:</h4>
          <a (click)="activeModal.dismiss('Cross click')">
              <i class = "icon-close"></i>    
          </a>
      </div>
      <div class="modal-body">
      
          <form #AddForm="ngForm"   novalidate>

            <label class="col-12 col-form-label">Please choose new stage to assign to leads with this stage:</label>
            <div class="col-12">

                    <select class="form-control" [(ngModel)] = "stage"  name="name" required>
                      <option   *ngFor = "let stage of viewstages" value = "{{stage.id}}" name="name" >{{ stage.name }}</option>
                    </select>
              </div>
        
      
      
      
      
               
      
      
          </form>
      </div>
      <div class="modal-footer">
       <!-- <button type="button" class="btn btn-secondary" (click)="close()">Done</button>
       -->
       <button type="submit" class="btn btn-secondary" [disabled]="AddForm.invalid" (click)="close()" >Done</button>

       <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">Cancel</button>
      </div>