<div style = "padding:2px">
    <button *ngIf="securityService.checkPrivilage(34)" type="button" (click)="create()" class="btn btn-info btn-block mb-1">
          <span>Add</span>
    </button>
    </div>
    
    
    
    <br>
    <br>
    <div style="overflow-x:auto;">
    <table class="table table-hover" *ngIf="!spinner">
      <thead>
        <tr>
          <th *ngFor="let header of headers">{{ header }}
          </th>
          <th>
            Options
          </th>
        </tr>
      </thead>
     <tbody>
        <tr style="cursor:pointer;" *ngFor="let stage of rows">
          <!--
          <td (click)='securityService.checkPrivilage(35) && open(stage)'>
            {{ stage.id }}
          </td>
        -->
          <td (click)='securityService.checkPrivilage(35) && open(stage)'>
            {{ stage.name }}
          </td>
          <td (click)='securityService.checkPrivilage(35) && open(stage)'>
            {{ stage.count }} Lead(s)
          </td>
          <td (click)='securityService.checkPrivilage(35) && open(stage)'>
              {{ stage.sort }}
            </td>
          <td>
            <a *ngIf="securityService.checkPrivilage(36)" (click) = "delete(stage.id)" ><i class="icon-basic-trashcan"  ></i> Delete</a>
             - 
            <a *ngIf="securityService.checkPrivilage(35)" (click) = "open(stage)" ><i class="icon-eye"  ></i> View</a>
          </td>
    
        </tr>
      </tbody>
    </table>
    </div>
    
    
    <div class="loader01" *ngIf="spinner"></div>
    