  <div class="alert alert-{{alert.type}} alert-block" *ngIf="alert.visible">
    <strong>{{alert.message}}!</strong>
    <span class="close" (click)="dismissAlert()">&times;</span>
  </div>
<div class="card">
  <div class="card-header">Edit Service</div>
  <div class="card-block">
    <div class="form-group row">
      <label class="col-2 col-form-label">Name</label>
      <div class="col-10">
        <input class="form-control" type="text"  name="name" [(ngModel)] = "name">
      </div>
    </div>
    <hr>
    <div class="form-group row">
      <label class="col-2 col-form-label">Add Fields</label>
      <div class="col-10">
        <a (click) = "showAdd()"><span style="padding-left: 95%; position: relative; bottom: -15%;"><i class="icon-arrows-circle-plus"></i></span></a>
      </div>
    </div>

   <div *ngIf = "data.length > 0">
    <div class="form-group row"  *ngFor = "let value of data, let j = index">
      <div class="col-6">
      <label class="col-2 col-form-label">Name</label>
      <div class="col-10">
        <input [disabled]="data[j][0] == 'price'" class="form-control"  type="text" [(ngModel)] = "data[j][0]">
      </div>
      </div>
      <div class="col-6" style="margin-left:-26px">
      <label class="col-2 col-form-label">Type</label>
        <div class="col-10" style = "display: inline-block">
            <select [disabled]="data[j][0] == 'price'" class="form-control"  [(ngModel)] = "data[j][1]" (change) = "multiple(j)">
                <option value="varchar">Text</option>
                <option value="int">Number</option>
                <option value="datetime">Date</option>
                <option value="boolean">True or False</option>
                <option value="select">Multi value select</option>
              </select>
        </div>
        <div class="col-1" style = "display: inline-block">
        <a (click)="delete(j)" style = "margin-left: 53px;" *ngIf="data[j][0]!=='price'">
          <i class = "icon-basic-trashcan"></i>
        </a>
        </div>           
      </div>
      
      <div class="col-12" *ngIf = "data[j][1] == 'select'">
        <rl-tag-input [(ngModel)]="data[j][2]" addOnEnter = "true" addOnSpace = "true" placeholder="Add Values Here"></rl-tag-input>
      </div>
    </div>
  </div>






<button class="btn btn-success btn-block" (click) = "done()">Done!</button>
<button  id ="cancel"  class="btn btn-success btn-block" (click) = "back()">Back</button>

</div>
</div>
