<div class="alert alert-{{alert.type}} alert-block" *ngIf="alert.visible">
    <strong>{{alert.message}}!</strong>
    <span class="close" (click)="dismissAlert()">&times;</span>
  </div>
<div class="card">
  <div class="card-block">
<form>
    <div class="form-group row">
      <label class="col-2 col-form-label">Payment Option</label>
      <div class="col-10">
        <input class="form-control" type="text" *ngIf = "edit" name="name" [(ngModel)] = "payment.name" required/>
        <label  id="rname"   class="col-12"  *ngIf = "!edit"  >{{ payment?.name }}</label>
      </div>
    </div>
  </form>
    

    <button id="edit" class="btn btn-primary btn-block" *ngIf = "!edit" (click) = "editPayments()">Edit</button>
    <button class="btn btn-success btn-block" *ngIf = "edit" (click) = "done()">Done!</button>
    <button  id ="cancel"  class="btn btn-success btn-block" (click) = "back()">Cancel</button>
    
  </div>
</div>
