<div style = "padding:2px">
  <div style = "display:block; margin-bottom:1%">
      <div class="alert alert-{{alert.type}} alert-block" *ngIf="alert.visible" style = "width: 157.8%;">
          <strong>{{alert.message}}!</strong>
          <span class="close" (click)="dismissAlert()">&times;</span>
        </div>
    <input (keyup.enter)="search()" type="text" class="form-control search1" [(ngModel)]="keyword" placeholder="Search by  customer name, customer email, customer phone, comment, stage">

    <button *ngIf="securityService.checkPrivilage(10)" type="button" class="btn btn-info mr-1 mb-1 add" (click) = "newLead()">Add</button>
  </div> 
  <button type="button" (click)="search()" class="btn btn-info btn-block mb-1">
        <span>Search</span>
  </button>
  <br>
  <br>
  <label for="Date From"><strong>Date From:</strong> </label> <input type="date" [(ngModel)] = "timeFrom"  class="form-control search2">
  <label for="Date To" class="labelfrom"><strong>Date To:</strong>  </label><input type="date" [(ngModel)] = "timeTo" class="form-control search3">     
  <button type="button" (click)="showdate()" class="btn btn-success btn-block mb-1">
    <span>Search Using Date</span>
</button>

</div>
<br>
<br>
<table class="table table-hover" *ngIf="!spinner">
  <thead>
    <tr>
      <th *ngFor="let header of headers"><a (click)="sort(header)"> {{ header }}</a>
        <i class="icon-arrows-up" *ngIf="header == selectedHeader && asc"></i>
        <i class="icon-arrows-down" *ngIf="header == selectedHeader && !asc"></i>
      </th>
      <th>
        Options
      </th>
    </tr>
  </thead>
 <tbody>
    <tr *ngFor="let lead of rows"  style="cursor:pointer;">
      
      <!--
      <td (click)=" securityService.checkPrivilage(14) && viewLead(lead,true)" >
        {{ lead.id }}
      </td>
    -->
      <td (click)=" securityService.checkPrivilage(14) && viewLead(lead,true)" >
        {{ lead.CustomerName }}
      </td>
      <td (click)=" securityService.checkPrivilage(14) && viewLead(lead,true)" >
        {{ lead.CustomerEmail }}
      </td>
      <td (click)=" securityService.checkPrivilage(14) && viewLead(lead,true)" >
        {{ lead.CustomerPhone }}
      </td>
       <td *ngIf = "lead.reminder" (click)=" securityService.checkPrivilage(14) && viewLead(lead,true)" >
        {{ lead.reminder }}
      </td>
      <td *ngIf = "!lead.reminder" (click)=" securityService.checkPrivilage(14) && viewLead(lead,true)" >
        No reminder
      </td>
       <td *ngIf = "lead.comment" (click)=" securityService.checkPrivilage(14) && viewLead(lead,true)" >
        {{ lead.comment }}
      </td>
      <td *ngIf = "!lead.comment" (click)=" securityService.checkPrivilage(14) && viewLead(lead,true)" >
        No comment
      </td>
      <td (click)=" securityService.checkPrivilage(14) && viewLead(lead,true)" >
        {{ lead.date_created }}
      </td>
      <td (click)=" securityService.checkPrivilage(14) && viewLead(lead,true)" >
        {{ lead.EmployeeName }}
      </td>
      <td (click)=" securityService.checkPrivilage(14) && viewLead(lead,true)" >
        {{ lead.stage }}
      </td>
      <td>
        <a *ngIf="securityService.checkPrivilage(15)" (click) = "delete(lead.id)"><i class="icon-basic-trashcan"></i> Delete</a>
        - 

        <a *ngIf="securityService.checkPrivilage(14)" (click)="viewLead(lead,true)"><i class="icon-basic-eye"></i> View</a>
        
      </td>

    </tr>
  </tbody>
</table>


<div class="loader01" *ngIf="spinner"></div>



<div>
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="3" [boundaryLinks]="false" [(pageSize)]="pageSize"
    (pageChange)="onPager($event)"></ngb-pagination>
</div>
