@import "../../assets/styles/scss/components/sts";
html, body {
  overflow-x: hidden;
}
body {
  position: relative
}

@media screen and (min-width: 720px) {
  .add {
        display: inline-block;
        margin-top: 2px;
        margin: 0px !important;
        float: right;
        width: 10%;

  }
  .search1 {
    width: 88%;
    display: inline-block;
  }
  .search2 {
    display: inline-block;
    width: 20%;
}
.search3 {
  display: inline-block;
  width: 20%;
  float: right;

}
.labelfrom{
  display: inline-block;
  position:relative;
  left: 50.5%;
  // top: 13%;

}

}

@media screen and (max-width: 720px) {
  .add {
        margin-top: 3px;

  }
  .search1 {
      display: inline-block;
      width: 100%;
  }
 
}