<div style="overflow-x:auto;">
  <table class="table table-hover" *ngIf="!spinner">
    <thead>
      <tr>
          <th> stage </th>

          <th>reminder</th>

          <th>comment </th>

          <th>timestamp</th>
       </tr>
    </thead>
   <tbody>
      <tr style="cursor:pointer;" *ngFor="let stage of stages">
        <td>
          {{ stage.name  }}
        </td>
        <td >
          {{ stage.reminder }}
        </td>
        <td >
          {{ stage.comment   }}
        </td>
        <td>
            {{ stage.timestamp }}
       </td>
        
  
      </tr>
    </tbody>
  </table>
  </div>
  
  
  <div class="loader01" *ngIf="spinner"></div>
  