 <div class="alert alert-{{alert.type}} alert-block" *ngIf="alert.visible">
    <strong>{{alert.message}}!</strong>
    <span class="close" (click)="dismissAlert()">&times;</span>
</div>
<form ngNativeValidate >
  
<div class="form-group row">
  <label class="col-2 col-form-label" >Role</label>
    <div class="col-10">
      <input class="form-control input" type="text" name="role" [(ngModel)] = "role" required>  
     </div>
</div>
<div class="form-group row">
  <label class="col-2 col-form-label" >Privileges</label>
    <div class="col-10" >
      <div class="form-check" *ngFor = "let privilege of privileges, let i = index" >
        <label class="form-check-label" >
            <input type="checkbox" class="form-check-input" [(ngModel)] = "priv[i]"  name="{{privilege.name}}" id="{{privilege.name}}" value="{{privilege.name}},{{privilege.value}}">
              {{privilege.name}}
        </label>
      </div>
     </div>
</div>

<button class="btn btn-success btn-block" (click) = "done()">Done!</button>
<button id="cancel" class="btn btn-success btn-block" (click) = "back()">Cancel</button>


</form>