<div class="modal-header">
  <h4 class="modal-title">View Lead:</h4>
  <a *ngIf="securityService.checkPrivilage('13')" (click)="editLead()" style = "margin-left: 50%;">
    <i class = "icon-pencil"></i>
  </a>
  <a *ngIf="securityService.checkPrivilage('15')" (click)="delete()">
    <i class = "icon-basic-trashcan"></i>
  </a>
  <a (click)="activeModal.dismiss('Cross click')">
    <i class = "icon-close"></i>    
  </a>
</div>
<div class="modal-body">
    <div class="form-group row">
      <label class="col-2 col-form-label"><strong>Customer Name:</strong></label>
      <div class="col-10">
        <label class="col-6 col-form-label input"*ngIf = "!edit">{{ customer.name }}</label>        
        <input class="form-control input" type="text" *ngIf = "edit" name="customername" [(ngModel)] = "customer.name" required>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label" ><strong>Customer Address:</strong></label>
      <div class="col-10">
        <label class="col-6 col-form-label input" *ngIf = "!edit">{{ customer.address }}</label>
        <input class="form-control input" type="text" *ngIf = "edit" name="customeraddress" [(ngModel)] = "customer.address" required>
      </div>
    </div>

    
    <div class="form-group row">
    <label class="col-2 col-form-label" ><strong>Customer Company:</strong></label>
    <div class="col-10">
      <label class="col-6 col-form-label input" *ngIf = "!edit">{{ customer.company }}</label>
      <input class="form-control input" type="text" *ngIf = "edit" name="customercompany" [(ngModel)] = "customer.company" required>
    </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label" ><strong>Customer Phone:</strong></label>
    <div class="col-10">
      <label class="col-6 col-form-label input" *ngIf = "!edit">{{ customer.phone }}</label>
      <input class="form-control input" type="tel" *ngIf = "edit" value="" name="customerphone" [(ngModel)] = "customer.phone" required>
    </div>
  </div>
  


  <div class="form-group row">
    <label class="col-2 col-form-label" ><strong>Customer Phone 2:</strong></label>
    <div class="col-10">
      <label class="col-6 col-form-label input" *ngIf = "!edit">{{ customer.phone2 }}</label>
      <input class="form-control input" type="tel" *ngIf = "edit" name="customerphone2" [(ngModel)] = "customer.phone2" required>
    </div>
  </div>

    <div class="form-group row">
      <label class="col-2 col-form-label" ><strong>Customer Email:</strong></label>
      <div class="col-10">
        <label class="col-6 col-form-label input" *ngIf = "!edit">{{ customer.email }}</label>
        <input class="form-control input" type="email" *ngIf = "edit" name="customer.email" [(ngModel)] = "customer.email" required>
      </div>
    </div>  

    <div class="form-group row">
      <label class="col-2 col-form-label" ><strong>Customer Email 2:</strong></label>
      <div class="col-10">
        <label class="col-6 col-form-label input" *ngIf = "!edit">{{ customer.email2 }}</label>
        <input class="form-control input" type="email" *ngIf = "edit" name="customer.email2" [(ngModel)] = "customer.email2" required>
      </div>
    </div>  

    <div class="form-group row">
      <label class="col-2 col-form-label"><strong>Stage:</strong></label>
      <div class="col-10">
          <label class="col-6 col-form-label input" *ngIf = "!edit">{{ stagee}}</label>
          
          <select class="form-control input" [(ngModel)] = "lead.stage"  name="stage"  *ngIf = "edit" required>
              <option *ngFor = "let stage of stages" value = "{{stage.id}}">{{ stage.name }}</option>
            </select>
        
      </div>
    </div>
    
    <div class="form-group row">
      <label class="col-2 col-form-label"> <strong>Department:</strong> </label>
      <div class="col-10">

          <label class="col-6 col-form-label input" *ngIf = "!edit">{{ departmentt }}</label>

        <select class="form-control input" [(ngModel)] = "lead.department"  name="department" *ngIf = "edit"  required>
          <option *ngFor = "let department of departments" value = "{{department.id}}">{{ department.name }}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label"> <strong>Source:</strong></label>
      <div class="col-10">
          <label class="col-6 col-form-label input" *ngIf = "!edit"> {{sourcee.name}}</label>

        <select class="form-control input" [(ngModel)] = "lead.source" name="lead_source"  *ngIf = "edit"  required>
          <option *ngFor = "let source of sources" value = "{{source.id}}">{{ source.name }}</option>
        </select>
      </div>
    </div>





   <div class = "addbutton" *ngIf = "edit">
    <label class="form-check-label ">
      <button class="btn btn-success" (click) = "show('Product', $event)"><strong>Add Product:</strong></button>
    </label>
    <label class="form-check-label">
     <button class="btn btn-primary" style="width:107%" (click) = "show('Service', $event)"><strong>Add Service:</strong></button>
    </label>
  </div>

    <hr>

      <div *ngFor = "let add of addProducts, let i = index" id = "product{{i}}">
    <div class="form-group row">
    
    <h6 style="padding-top:10px"><strong>Add Product:</strong></h6>
      <a  style = "margin-left: 90%;color:red; position:fixed" (click)="addProducts.splice(i,1)">
      <i class = "icon-close"></i>    
      </a>
    </div>

  <div class="form-group row">
      <label class="col-2 col-form-label"><strong>Product:</strong> </label>
      <div class="col-10">
        <select class="form-control"  id="products" [(ngModel)]="newproducts[i]" required>
          <option *ngFor = "let product of productObjects" [ngValue] = "product"  > {{product.Name}}
          </option>
        </select>
      </div>
  </div>

  <div class="form-group row">
      <label class="col-2 col-form-label"><strong>Count:</strong></label>
      <div class="col-10">
        <input class="form-control" type="number"  [(ngModel)] = "count[i]" >
      </div>
  </div>
  <br>
  <hr>
  </div>


     <div *ngFor = "let add of addServices, let i = index" id = "service{{i}}">
    <div class="form-group row">
    <h6 style="padding-top:10px"><strong>Add Service:</strong></h6>
      <a  style = "margin-left: 90%;color:red; position:fixed" (click)="addServices.splice(i, 1); serviceID.splice(i,1);input.splice(i,1); fields.splice(i,1); fieldTypes.splice(i,1);multivalued.splice(i,1)">
      <i class = "icon-close"></i>    
      </a>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label"><strong>Service Name:</strong></label>
      <div class="col-10">
        <select class="form-control" [(ngModel)] = "serviceID[i]" (change) = "populate(i)">
          <option *ngFor = "let service of servicetypes" [ngValue] = "service.id">{{ service.name }}</option>
        </select> 
      </div>
    </div>
    <div class="form-group row" *ngFor = "let field of fields[i], let j=index">
      <label class="col-2 col-form-label">{{ field }}</label>
      <div class="col-10">
        <input class="form-control" type="text" [(ngModel)] = "input[i][j]" *ngIf = "fieldTypes[i][j] == 'varchar'">
         <input class="form-control" name="date" [returnObject]=" 'js' " [viewFormat] = "'ll'" [value]="input[i][j] | date: 'yyyy-MM-dd HH:mm:ss'" [(ngModel)]="input[i][j]" dateTimePicker [mode]="'dropdown'" *ngIf = "fieldTypes[i][j] == 'datetime'" > 
        <input class="form-control" type="number"  [(ngModel)] = "input[i][j]"  *ngIf = "fieldTypes[i][j] == 'int'">
        <input class="form-control" type="checkbox"  [(ngModel)] = "input[i][j]"   *ngIf = "fieldTypes[i][j] == 'boolean'">
        <select class="form-control" [(ngModel)] = "input[i][j]"  *ngIf = "fieldTypes[i][j] == 'select'">
                <option *ngFor = "let value of multivalued[i][j]">{{ value }}</option>
        </select>
      </div>
    </div>
  <br>
  <hr>
  </div>

  <div *ngIf = "products.length > 0">
    
    <div  *ngFor = "let product of products, let i = index">
    <div class="form-group row">
    <h6> Product #{{ product.ProductID }} {{ product.ProductName }}</h6>
    <a  style = "margin-left: 90%;color:red; position:fixed" (click)="deleteProduct(product.ProductID, i)" *ngIf = "edit">
      <i class = "icon-close"></i>    
    </a>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label"><strong>Category:</strong></label>
      <div class="col-10">
        <label class="col-6 col-form-label input">#{{ product.CategoryID }} {{ product.CategoryName }}</label>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label"><strong>Count:</strong></label>
      <div class="col-10">
        <label class="col-6 col-form-label input" *ngIf = "!edit">{{ product.Count }}</label>        
        <input class="form-control input" type="number" *ngIf = "edit" [(ngModel)] = "product.Count" >
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label"><strong>Data:</strong></label>
      <div class="col-10" >
        <ul>
        <li *ngFor = "let value of product.Data">{{ value }}</li>
        </ul>
      </div>

    </div>
   
    <hr>
    </div>   
  </div>




    <div *ngFor = "let service of services, let i = index">  
    <div class="form-group row">
    <h6>Service #{{ service.ServiceID }} {{ service.Name }}</h6>
    <a  style = "margin-left: 90%;color:red; position:fixed" (click)="deleteService(service.ServiceID, i)" *ngIf = "edit">
      <i class = "icon-close"></i>    
    </a>
    </div>  
    <div>
    <div class="form-group row">
      <label class="col-2 col-form-label"><strong>Service:</strong>  </label>
      <div class="col-10">
        <label class="col-6 col-form-label input">#{{ service.ServiceID }} {{ service.Name }}</label>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label"><strong>Data:</strong></label>
      <div class="col-10" >
        <ul *ngIf = "!edit">
        <li *ngFor = "let value of service.Data">{{ value[0] }} : {{ value[1] }}</li>
        </ul>
        <div *ngIf = "edit">
          <div class="form-group row" *ngFor = "let value of service.Data, let i = index">
            <label class="col-2 col-form-label">{{ value[0] }} </label>
            <div class="col-10">
              <input class="form-control" type="text" [(ngModel)] = "value[1]" *ngIf = "service.Definition[i][1] == 'varchar'">
               <input class="form-control" type = "datetime-local" name="date" [returnObject]=" 'js' " [viewFormat] = "'ll'" [value]="value[1] | date: 'yyyy-MM-ddTHH:mm'" [(ngModel)]="value[1]" dateTimePicker [mode]="'dropdown'" *ngIf = "service.Definition[i][1]  == 'datetime'" > 
               <input class="form-control" type="number"  [(ngModel)] = "value[1]"  *ngIf = "service.Definition[i][1]  == 'int'">
              <input class="form-control" type="checkbox"  [(ngModel)] = "value[1]"   *ngIf = "service.Definition[i][1]  == 'boolean'">
              <select class="form-control" [(ngModel)] = "value[1]"  *ngIf = "service.Definition[i][1]  == 'select'">
                      <option *ngFor = "let val of service.Definition[i][2]">{{ val }}</option>
              </select>
           </div>
          </div>
          
        </div>
      </div>
    </div>


    
    <hr>
    </div>   
  </div>






  


<div class="form-group row">
    <label class="col-2 col-form-label" id="total"><strong>total:</strong></label>
    <div class="col-10">
      <label class="col-6 col-form-label input">{{leadIdd}}</label>
    </div>

  <button (click) = "open()">view history</button>


  </div>


</div>


<div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="editLead()" *ngIf = "edit">Edit</button>
  <button type="button" class="btn btn-secondary" (click)="close()" *ngIf = "!edit">Done</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">Cancel</button>
</div>
