
<div class="modal-header">
  <h4 class="modal-title">Assign to Employee:</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body">
    <div class="form-group row">
      <label class="col-2 col-form-label">Name:</label>
      <div class="col-10">
        <select class="form-control" [(ngModel)] = "assignedEmployee" >
          <option [ngValue] = "myid">Me</option>
           <option *ngFor = "let employee of employees"  [ngValue] = "employee.id">{{ employee.name }}</option>
        </select>
      </div>
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close()">Done</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">Cancel</button>
</div>