
<div class="modal-header">
  <h4 class="modal-title">Add comment:</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <textarea class="form-control" id="comment" [(ngModel)]="comment" rows="3"></textarea>
  </div>
  <div>
  <hr>
  <a (click)="reminder()"> Add Reminder </a>

        <form class="form-inline">
          <div class="form-group" *ngIf = "rem">
              <h4><i class="icon-basic-alarm"  style="padding: 10px"></i></h4>
              <input class="form-control" name="date" [returnObject]=" 'js' " [viewFormat] = "'ll'" [value]="date | date: 'yyyy-MM-dd HH:mm:ss'" [(ngModel)]="date" dateTimePicker [mode]="'dropdown'" > 
           
          </div>
        </form>



  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close()" >Done</button>
</div>