
<div class="modal-header">
  <h4 class="modal-title">Send To Stage:</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-check" *ngFor="let stage of stages">
    <label class="form-check-label" *ngIf = "origin!='new'">
        <input type="radio" class="form-check-input" [(ngModel)]="chosen"  name="stage" id="optionsRadio" value="{{stage.name}}">
          {{stage.name}}
    </label>
  </div>
  <hr>
  <div>
    <div class="form-group">
      <label> Add Comment: </label>
      <textarea class="form-control" id="comment" [(ngModel)]="comment" rows="3"></textarea>
    </div>
    <!-- <div>
      <hr>
      <a href = "#" (click)="reminder()"> Add Reminder </a>

      <form class="form-inline">
        <div class="form-group" *ngIf="rem">
          <h4><i class="icon-basic-alarm" style="padding: 10px"></i></h4>
          <input class="form-control" name="date" [returnObject]=" 'js' " [viewFormat] = "'ll'" [value]="date | date: 'yyyy-MM-dd HH:mm:ss'" [(ngModel)]="date" dateTimePicker [mode]="'dropdown'" > 
           
        </div>
      </form>
    </div> -->
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="close()">Send</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">Cancel</button>
</div>
