<div class="taskboard page-height">
  <div class="alert alert-{{alert.type}} alert-block" *ngIf="alert.visible" style = "width: 157.8%;">
    <strong>{{alert.message}}!</strong>
    <span class="close" (click)="dismissAlert()">&times;</span>
  </div>

  <div *ngIf="employees">
    <a routerLink='/'><b>All</b></a> - 
    <a routerLink='/board/{{myid}}'><b>My leads</b></a> - 
    <a *ngIf="employees.length!=0" routerLink='/board/-1'><b>Unassigned leads</b></a> - 
    <span *ngFor="let employee of employees; let last = last">
      <a routerLink='/board/{{employee.id}}'>
        <b>{{employee.name}}</b>
      </a>
      <span *ngIf="!last"> - </span> 
    </span>
  </div>

  <br/>

  <div class="taskboard-wrapper" *ngFor="let stage of stages">
    <div class="taskboard-list" id="list" >
      <h6 class="taskboard-header">{{stage.name}}</h6>
      <div class="taskboard-cards" [dragula]='"task-group"' id="{{stage.id}}" >
        <div *ngFor="let lead of leads[stage.name], let i = index" id="{{lead.id}}">
        <div class="taskboard-task" id="{{lead.id}}" *ngIf="lead.Archived==0" >
          <div class="taskboard-task-title"><a [ngClass]="{mark_lead: lead.assigned_to==null }" href = "#" (click) = "securityService.checkPrivilage('14') && viewLead(lead)">
            #{{ lead.id}} {{ lead.CustomerName }}</a>
          </div>
          <small class="card-text text-muted">Customer: <b>{{ lead.CustomerName }}</b></small>
          <small class="card-text text-muted" *ngIf = "lead.assigned_to!=null">Employee : <b>{{ lead.EmployeeName }}</b></small>
          <small class="card-text text-muted"  style = "padding: 1px" >Date Created: <br> {{ lead.date_created }}</small>
          <small class="card-text text-muted"><b>{{ lead.last_update }} days since the last update</b></small>
          <div class="icon-group">
            <button *ngIf="securityService.checkPrivilage('12')" class="btn btn-success btn-icon-icon mr-1 mb-1 mob" (click)="open(stage.name, lead, i)" style="position: absolute;float: right;right: 3%;bottom: 10%;">
              <i style="cursor:pointer;" title="Move lead to another stage" class="icon-arrows-square-right"></i>
            </button>
            <button *ngIf="employees && securityService.checkPrivilage('11')" class="btn btn-success btn-icon-icon mr-1 mb-1 mob" (click)="settings(lead)" style="position: absolute;float: right;right: 3%;bottom: 40%;">
              <i style="cursor:pointer;" title="Assign lead to another user" class="icon-refresh"></i>
            </button>
            <button *ngIf="employees && securityService.checkPrivilage('11')" class="btn btn-success btn-icon-icon mr-1 mb-1 mob" (click)="archiveLead(lead)" style="position: absolute;float: right;right: 3%;bottom: 70%;">
              <i style="cursor:pointer;" title="Archive Lead" class="icon-remove-square-right"></i>
            </button>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>

  <div class="fab" *ngIf="securityService.checkPrivilage('10')">
    <span class="fab-action-button" (click)="newLead()">
     <img src = "assets/images/plus.png" class = "fab-heading">
  </span>

  </div>



</div>
