<div class="alert alert-{{alert.type}} alert-block" *ngIf="alert.visible">
    <strong>{{alert.message}}!</strong>
    <span class="close" (click)="dismissAlert()">&times;</span>
  </div>
<div class="card">
  <div class="card-block">
      <div class="form-group row">
          <label class="col-2 col-form-label">Name</label>
          <div class="col-10">
            <input class="form-control" type="text"  name="name" [(ngModel)] = "name" required>
          </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Phone Number</label>
            <div class="col-10">
              <input class="form-control" type="number"  name="phone" [(ngModel)] = "phone" required>
            </div>
          </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Email </label>
      <div class="col-10">
        <input class="form-control" type="text" [email]=true  name="email" [(ngModel)] = "email" required>
      </div>
    </div>  

    <div class="form-group row">
        <label class="col-2 col-form-label">Phone Number 2</label>
        <div class="col-10">
          <input class="form-control" type="number"  name="phone2" [(ngModel)] = "phone2" required>
        </div>
      </div>
<div class="form-group row">
  <label class="col-2 col-form-label">Email 2</label>
  <div class="col-10">
    <input class="form-control" type="email"  name="email2" [(ngModel)] = "email2">
  </div>
</div>  
    
    <div class="form-group row">
      <label class="col-2 col-form-label">Address</label>
      <div class="col-10">
        <input class="form-control" type="text"  name="addres" [(ngModel)] = "address" required>
      </div>
    </div> 
    <div class="form-group row">
        <label class="col-2 col-form-label">Company</label>
        <div class="col-10">
          <input class="form-control" type="text"  name="company" [(ngModel)] = "company" required>
        </div>
      </div>


    <!-- <div class="form-group row">
        <label class="col-2 col-form-label">Payment info</label>
        <div class="col-10">
          <input class="form-control" type="text"  name="paymentInfo" [(ngModel)] = "paymentInfo" required>
        </div>
      </div> -->

      <div class="form-group row">
        <label class="col-2 col-form-label">Payment info</label>
        <div class="col-10">
          <select class="form-control input" [(ngModel)] = "payment_info" name="payment_info" required>
            <option *ngFor = "let payment of payments" value = "{{payment.id}}">{{ payment.name }}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">VIP Customer</label>
        <div class="col-10">
          <input [(ngModel)]="vip" type="checkbox" name="vip">        
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">Notes</label>
        <div class="col-10">
          <input class="form-control" type="text"  name="notes" [(ngModel)] = "notes" required>
        </div>
      </div>
   
    </div>
          







    <button class="btn btn-success btn-block" (click) = "done()">Done!</button>
    <button id="cancel" class="btn btn-success btn-block" (click) = "back()">Cancel</button>
    

</div>
