@import "../../../assets/styles/scss/components/sts";
@import "../../../assets/fonts/simple-line-icons/simple-line-icons.css";

html, body {
  overflow-x: hidden;
}
body {
  position: relative
}

.icon-group a {
  display: block;
  padding-left: 40px;
  height: 32px;
  line-height: 32px;
  margin-bottom: 5px;
  .icon, .fa,
  [class^="icon-"],
  [class*=" icon-"] {
    position: absolute;
    top: 0;
    left: 10px;
    min-width: 30px;
    text-align: center;
    line-height: 32px;
  }
  &:hover .fa,
  &:hover .icon,
  &:hover [class^="icon-"],
  &:hover [class*=" icon-"] {
    top: 5px;
    font-size: 1.5em;
  }
}

.gu-mirror {
  background-color: white;
  border-radius: 0.125rem;
  padding: 0.5rem;
  opacity: 1;
}
#depname {
  display: block;
  margin-top: 7px;
}

#manager {

  display: block;
  margin-top: 7px;
}

#edit {

  background-color: #0091ea;
  border-color: #0091ea;
}

#cancel {
  
  background-color: #0091ea;
border-color: #0091ea;
}