 <div class="alert alert-{{alert.type}} alert-block" *ngIf="alert.visible">
    <strong>{{alert.message}}!</strong>
    <span class="close" (click)="dismissAlert()">&times;</span>
  </div>
<div class="card">
  <div class="card-block">

    <div class="form-group row">
      <label class="col-2 col-form-label">Name</label>
      <div class="col-10">
        <input class="form-control" type="text" *ngIf = "edit" name="name" [(ngModel)] = "department.name"/>
        <label id="depname" class="col-12"  *ngIf = "!edit"  >{{ department.name }}</label>
      </div>
    </div>
<form ngNativeValidate >
    <div class="form-group row">
      <label class="col-2 col-form-label">Manager</label>
      <div class="col-10">
        <select *ngIf = "edit" class="form-control" name="manager" [(ngModel)] = "department.manager_id"  required>
         
          <option  [selected]="manager.id == department.manager_id" *ngFor = "let manager of managers" value = "{{manager.id}}">{{ manager.name }}</option>
  
        </select>
        <label  id="manager" class="col-12"  *ngIf = "!edit"  >{{ manager }}</label>
      </div>  
    </div>
  </form>
    <button id="edit" class="btn btn-primary btn-block" *ngIf = "!edit" (click) = "editDepartment()">Edit</button>
    <button class="btn btn-success btn-block" *ngIf = "edit" (click) = "done()">Done!</button>
    <button  id ="cancel"  class="btn btn-success btn-block" (click) = "back()">Cancel</button>
    
    
  </div>
</div>
