<div class="card">
  <div class="card-header">Create Product</div>
  <div class="card-block">
    <div class="form-group row">
      <label class="col-2 col-form-label">Name</label>
      <div class="col-10">
        <input class="form-control" type="text"  name="name" [(ngModel)] = "name">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Details</label>
      <div class="col-10">
        <input class="form-control" type="text" name="details" [(ngModel)] = "details">
      </div>
    </div>
    <hr>
    <div class="form-group row">
      <label class="col-2 col-form-label">Add Fields</label>
      <div class="col-10">
        <a (click) = "showAdd()"><span style="padding-left: 95%; position: relative; bottom: -15%;"><i class="icon-arrows-circle-plus"></i></span></a>
      </div>
    </div>

   <div *ngIf = "add.length > 0">
    <div class="form-group row" *ngFor="let a of add, let i = index">
      <div class="col-6">
      <label class="col-2 col-form-label">Name</label>
      <div class="col-12">
        <input class="form-control"  type="text" [(ngModel)] = "data[i][0]">
      </div>
      </div>
      <div class="col-6">
      <label class="col-2 col-form-label">Type</label>
        <div class="col-12">
            <select class="form-control"  [(ngModel)] = "data[i][1]" (click) = "multiple(i)">
                <option value="varchar">Text</option>
                <option value="int">Number</option>
                <option value="datetime">Date</option>
                <option value="boolean">True or False</option>
                <option value="select">Multi value select</option>
              </select>
        </div>            
      </div>
      <div class="col-12" *ngIf = "data[i][1] == 'select'">
        <rl-tag-input [(ngModel)]="data[i][2]" addOnEnter = "true" addOnSpace = "true" placeholder="Add Values Here"></rl-tag-input>
      </div>
    </div>
  </div>






<button class="btn btn-success btn-block" (click) = "done()">Done!</button>

</div>
</div>
