<div class="alert alert-{{alert.type}} alert-block" *ngIf="alert.visible">
    <strong>{{alert.message}}!</strong>
    <span class="close" (click)="dismissAlert()">&times;</span>
  </div>
<div class="card">
  <div class="card-block">

    <div class="form-group row">
      <label class="col-2 col-form-label">Stage Name</label>
      <div class="col-10">
        <input class="form-control" type="text" *ngIf = "edit" name="name" [(ngModel)] = "stage.name"/>
        <label id="stage" class="col-12"  *ngIf = "!edit"  >{{ stage?.name }}</label>
      </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Stage Order</label>
        <div class="col-10">
          <input class="form-control" type="text" *ngIf = "edit" name="sort" [(ngModel)] = "stage.sort"/>
          <label class="col-12"  *ngIf = "!edit"  >{{ stage?.sort }}</label>
        </div>
      </div>

    

    <button class="btn btn-primary btn-block" *ngIf = "!edit" (click) = "editStages()">Edit</button>
    <button class="btn btn-success btn-block" *ngIf = "edit" (click) = "done()">Done!</button>
    <button  id ="cancel"  class="btn btn-success btn-block" (click) = "back()">back</button>
    

    
  </div>
</div>
