
<div class="modal-header">
  <h4 class="modal-title">Delete Role:</h4>
    <a (click)="activeModal.dismiss('Cross click')">
        <i class = "icon-close"></i>    
    </a>
</div>
<div class="modal-body">
  
    <form #AddForm="ngForm"   novalidate>
    
      <label class="col-12 col-form-label">Please choose new role to assign to employees with this role:</label>
      <div class="col-12">
        <select class="form-control" name="name" [(ngModel)] = "role"  required="required" >
                
                <option *ngFor = "let role of viewroles" value = "{{role.id}}">{{ role.name }}</option>
              </select>
        </div>
  </form>



         



</div>
<div class="modal-footer">
  <!--<button type="button" class="btn btn-secondary" (click)="close()">Done</button> -->
  <button type="submit" class="btn btn-secondary" [disabled]="AddForm.invalid" (click)="close()" >Done</button>

  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">Cancel</button>
</div>