<div class="modal-header">
  <h4 class="modal-title">View Role:</h4>
    <a (click)="editRole()" style = "margin-left: 50%;">
        <i class = "icon-pencil"></i>
    </a>
    <a (click)="activeModal.dismiss('Cross click')">
        <i class = "icon-close"></i>    
    </a>
</div>
<div class="modal-body">
      
    <form ngNativeValidate >
        
     <div class="form-group row">
      <label class="col-2 col-form-label">Role ID</label>
      <div class="col-10">
        <label class="col-6 col-form-label input">{{ role.id }}</label>
      </div>
    </div>
    

        <div class="form-group row">
                
      <label class="col-2 col-form-label">Role Name</label>
      <div class="col-10">
        <label class="col-6 col-form-label input" *ngIf = "!edit">{{ role.name }}</label>
         <input class="form-control input" type="text"  *ngIf = "edit" [(ngModel)] = "role.name" name="name" required> 
      </div>
    </div>
  </form>
    <div class="form-group row">
      <label class="col-2 col-form-label">Role Privileges</label>
      <div class="col-10">
        <ul>
          <li *ngFor = "let privilege of role.privileges">{{privilege}}
           <a (click) = "remove(privilege)">
            <i class = "icon-close" *ngIf = "edit"></i>    
           </a>
          </li>
        </ul>
        </div>
    </div>
    <div class="form-group row" *ngIf = "edit">
      <label class="col-2 col-form-label">Add Privileges</label>
       <div class="col-10">
               <select class="form-control input" [(ngModel)] = "priv" (change) = "add()" >
                 <option></option>
                <option *ngFor = "let privilege of privileges" >{{ privilege.name }}</option>
              </select>
        </div>
    </div>




         


</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" *ngIf = "edit" (click)="editRole()">Edit</button>
  <button type="button" class="btn btn-secondary" *ngIf = "!edit" (click)="close()">Done</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">Cancel</button>
</div>
