<div style = "padding:2px">
<div style = "display:block; margin-bottom:1%">
<input type="text" class="form-control search1" [(ngModel)]="keyword" placeholder="Search by  name, privilege" >
<button *ngIf="securityService.checkPrivilage(28)" type="button" class="btn btn-info mr-1 mb-1 add" (click) = "create()">Add</button>
</div> 
<button type="button" (click)="search()" class="btn btn-info btn-block mb-1">
      <span>Search</span>
</button>
</div>



<br>
<br>
<table class="table table-hover" *ngIf="!spinner">
  <thead>
    <tr>
      <!-- <th>ID</th> -->
      <th>Name</th>
      <th>Count</th>
      <th>Options</th>
    </tr>
  </thead>
 <tbody>
    <tr style="cursor:pointer;" *ngFor="let role of rows" >
      <!--
      <td (click) = "securityService.checkPrivilage(29) && view(role)">
        {{ role.id }}
      </td>

    -->
      <td (click) = "securityService.checkPrivilage(29) && view(role)">
        {{ role.name }}
      </td>
      <td (click) = "securityService.checkPrivilage(29) && view(role)">
        {{ role.count }} Employees
      </td>
      <td>
          <a *ngIf="securityService.checkPrivilage(30)" (click) = "delete(role.id)" ><i class="icon-basic-trashcan"  ></i> Delete</a>
           - 
          <a *ngIf="securityService.checkPrivilage(29)" (click) = "view(role)" ><i class="icon-eye"></i> View</a> 
      </td>
    </tr>
  </tbody>
</table>


<div class="loader01" *ngIf="spinner"></div>



<div>
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="3" [boundaryLinks]="false" [(pageSize)]="pageSize"
    (pageChange)="onPager($event)"></ngb-pagination>
</div>
