<div style = "padding:2px">
    <button *ngIf="securityService.checkPrivilage(31)" type="button" (click)="create()" class="btn btn-info btn-block mb-1">
          <span>Add</span>
    </button>
    </div>
    
    
    
    <br>
    <br>
    <div style="overflow-x:auto;">
    <table class="table table-hover" *ngIf="!spinner">
      <thead>
        <tr>
          <th *ngFor="let header of headers">{{ header }}
          </th>
          <th>
            Options
          </th>
        </tr>
      </thead>
     <tbody>
        <tr style="cursor:pointer;" *ngFor="let zone of rows">
        

          <td (click)='securityService.checkPrivilage(32) && open(zone)'>
            {{ zone.F }}
          </td>
          <td (click)='securityService.checkPrivilage(32) && open(zone)'>
            {{ zone.T }}
          </td>
          <td (click)='securityService.checkPrivilage(32) && open(zone)'>
            {{ zone.price }}
          </td>
          <td (click)='securityService.checkPrivilage(32) && open(zone)'>
            {{ zone.peak_hour_price }}
          </td>
           <td (click)='securityService.checkPrivilage(32) && open(zone)'>
            {{ zone.car_type }}
          </td>
         
          
          <td>
            <a *ngIf="securityService.checkPrivilage(33)" (click) = "delete(zone.id)" ><i class="icon-basic-trashcan"  ></i> Delete</a>
             - 
            <a *ngIf="securityService.checkPrivilage(32)" (click) = "open(zone)" ><i class="icon-eye"  ></i> View</a>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    
    
    <div class="loader01" *ngIf="spinner"></div>

<div>
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="3" [boundaryLinks]="false" [(pageSize)]="pageSize"
      (pageChange)="onPager($event)"></ngb-pagination>
  </div>
    