<div class="row">
   <div class="col-lg-4 col-md-6" *ngFor = "let product of products, let i = index">
    <div class="card card-info card-inverse">
      <div class="card-header text-info" style="background-color:white">
        <p><b>{{product.category}}</b> <br/>{{ product.name }}</p> 
        <span class="mr-auto"></span>
        <div class="card-controls">
          <a href="javascript:;" (click)="isCollapsed[i] = !isCollapsed[i]" *ngIf="!isCollapsed[i]">
            <i class="icon icon-arrows-down"></i>
          </a>
          <a href="javascript:;" (click)="isCollapsed[i] = !isCollapsed[i]" *ngIf="isCollapsed[i]">
            <i class="icon icon-arrows-up"></i>
          </a>
          <a *ngIf="securityService.checkPrivilage(20)" (click) = "edit(product.id)">
           <i class="icon-software-pencil"></i>
          </a>
          <a *ngIf="securityService.checkPrivilage(21)" (click) = "delete(product.id)">
           <i class="icon-basic-trashcan"></i>
          </a>
        </div>
      </div>
      <div class="card-block" [ngbCollapse]="isCollapsed[i]">
        <p class="card-text">
          {{ product.details}} 
        </p>
        <p id="cap" class="card-text" *ngFor = "let entry of product.data">
          {{ entry }}
        </p>
      </div>
    </div>
  </div>
</div>