<div class="d-flex align-items-stretch min-height-100 h-100">
  <div class="bg-cover bg-1 hidden-sm-down col-md-6 col-lg-8"></div>
  <div class="card card-block mb-0 rounded-0 p-5 col-sm-12 col-md-6 col-lg-4">
    <form  (ngSubmit)="login()">
      <div class="mb-3">
        <img src="assets/images/logo.png" class="avatar-xs mb-1" alt="" style = "width:30%">
        <p class="ff-headers text-uppercase">Sign in to your account</p>
      </div>
      <label for="username" class="form-control-label">
        Username
      </label>
      <input type="text" class="form-control" placeholder="username" name="username" [(ngModel)] = "username"/>
      <br>
      <label for="password" class="form-control-label">
        Password
      </label>
      <input type="password" class="form-control" placeholder="********" name="password" [(ngModel)] = "password"/>
      
      <p class="form-control-feedback" *ngIf="error.length > 0" style = "color: #ff0000">{{ error }}</p>
       
      <a [routerLink]="['/authentication/forgot']" class="form-text"><small>Forgot Password?</small></a>
        
      <br>
      <div class="block"></div>
      <button class="btn btn-primary" type="submit" >Login</button>
    </form>
  </div>
</div>