<div class="modal-header">
  <h4 class="modal-title">Edit Customer:</h4>
 
  
  <a (click)="activeModal.dismiss('Cross click')">
    <i class = "icon-close"></i>    
  </a>
</div>
<div class="modal-body">
    <div class="form-group row">
      <label class="col-2 col-form-label">Customer Name</label>
      <div class="col-10">
        <!-- <label class="col-6 col-form-label input"*ngIf = "!edit">{{ customer.name }}</label>         -->
        <input class="form-control input" type="text"  name="customername" [(ngModel)] = "customerr.customerName" required>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label" >Customer Address</label>
      <div class="col-10">
        <!-- <label class="col-6 col-form-label input" *ngIf = "!edit">{{ customer.address }}</label> -->
        <input class="form-control input" type="text"  name="customeraddress" [(ngModel)] = "customerr.customerAddress" required>
      </div>
    </div>

    
    <div class="form-group row">
    <label class="col-2 col-form-label" >Customer Company</label>
    <div class="col-10">
      <!-- <label class="col-6 col-form-label input" *ngIf = "!edit">{{ customer.company }}</label> -->
      <input class="form-control input" type="text" name="customercompany" [(ngModel)] = "customerr.customerCompany" required>
    </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label" >Customer Phone</label>
    <div class="col-10">
      <!-- <label class="col-6 col-form-label input" *ngIf = "!edit">{{ customer.phone }}</label> -->
      <input class="form-control input" type="tel"  value="" name="customerphone" [(ngModel)] = "customerr.customerPhone" required>
    </div>
  </div>
  


  <div class="form-group row">
    <label class="col-2 col-form-label" >Customer Phone 2</label>
    <div class="col-10">
      <!-- <label class="col-6 col-form-label input" *ngIf = "!edit">{{ customer.phone2 }}</label> -->
      <input class="form-control input" type="tel"  name="customerphone2" [(ngModel)] = "customerr.customerPhone2" required>
    </div>
  </div>

    <div class="form-group row">
      <label class="col-2 col-form-label" >Customer Email</label>
      <div class="col-10">
        <!-- <label class="col-6 col-form-label input" *ngIf = "!edit">{{ customer.email }}</label> -->
        <input class="form-control input" type="email"  name="customer.email" [(ngModel)] = "customerr.customerEmail" required>
      </div>
    </div>  

    <div class="form-group row">
      <label class="col-2 col-form-label" >Customer Email 2</label>
      <div class="col-10">
        <!-- <label class="col-6 col-form-label input" *ngIf = "!edit">{{ customer.email2 }}</label> -->
        <input class="form-control input" type="email"  name="customer.email2" [(ngModel)] = "customerr.customerEmail2" required>
      </div>
    </div>  

    

    
    
    





  





   




  





</div>


<div>

</div>
<div class="modal-footer">
  <!-- <button type="button" class="btn btn-secondary" (click)="editLead()" *ngIf = "edit">Edit</button> -->
  <button type="button" class="btn btn-secondary" (click)="close()">Done</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cross click')">Cancel</button>
</div>
