<div style = "padding:2px">
    <div style = "display:block; margin-bottom:1%">
    <!-- <input (keyup.enter)="search()" type="text" class="form-control search1" [(ngModel)]="keyword" placeholder="Search by  username, name, phone, email, department, role,manager" >
    <button *ngIf="securityService.checkPrivilage(37)" type="button" class="btn btn-info mr-1 mb-1 add" (click) = "create()">Add</button>
    </div> 
    <button type="button" (click)="search()" class="btn btn-info btn-block mb-1">
          <span>Search</span>
    </button> -->
    <button type="button" (click)="create()" class="btn btn-info btn-block mb-1">
      <span>Add New Customer</span>
    </button>
    </div>
    
    
    
    <br>
    <br>
    <div style="overflow-x:auto;">
    <table class="table table-hover" *ngIf="!spinner">
      <thead>
        <tr>
          <th *ngFor="let header of headers"><a (click)="sort(header)"> {{ header }}</a>
            <i class="icon-arrows-up" *ngIf="header == selectedHeader && asc"></i>
            <i class="icon-arrows-down" *ngIf="header == selectedHeader && !asc"></i>
          </th>
          <th>
            Options
          </th>
        </tr>
      </thead>
     <tbody>
        <tr style="cursor:pointer;" *ngFor="let customer of rows">
         <!--
          <td (click) = "securityService.checkPrivilage(38) && open(employee)">
            {{ employee.id }}
          </td>
    
        -->
          <td (click) = "securityService.checkPrivilage(38) && open(customer)">
            {{ customer.name }}
          </td>
          <td (click) = "securityService.checkPrivilage(38) && open(customer)">
            {{ customer.email }}
          </td>
          <td (click) = "securityService.checkPrivilage(38) && open(customer)">
            {{ customer.phone }}
          </td>
      
          <td>
             <a  (click) = "edit(customer.id)" ><i class="icon-basic-eye"  ></i> Edit</a>
            <a  (click) = "open(customer)" ><i class="icon-basic-eye"  ></i> View leads</a>
          </td>
    
        </tr>
      </tbody>
    </table>
    </div>
    
    
    <div class="loader01" *ngIf="spinner"></div>
    
    
    
    <div>
      <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="3" [boundaryLinks]="false" [(pageSize)]="pageSize"
        (pageChange)="onPager($event)"></ngb-pagination>
    </div>
    