<div class="alert alert-{{alert.type}} alert-block" *ngIf="alert.visible">
    <strong>{{alert.message}}!</strong>
    <span class="close" (click)="dismissAlert()">&times;</span>
  </div>
<div class="card">
  <div class="card-block">
    <div class="form-group row">
        <label class="col-2 col-form-label">number</label>
        <div class="col-10">
          <input class="form-control" type="text" *ngIf = "edit" name="number" [(ngModel)] = "car.number">
          <label class="col-12" *ngIf = "!edit" id="top" >{{ car.number }}</label>
        </div>
      </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">type</label>
      <div class="col-10">
        <select class="form-control" [(ngModel)] = "car.type" *ngIf = "edit"  required>
          <option *ngFor = "let type of types" value = "{{type.model+' '+type.manufacturer}}">{{ type.model+' '+type.manufacturer }}</option>
        </select>
        <label class="col-12"  *ngIf = "!edit"  id="top" >{{ car.type }}</label>
      </div>
    </div>

    <!-- <div class="form-group row">
      <label class="col-2 col-form-label">type</label>
      <div class="col-10">
          <select class="form-control" [(ngModel)] = "car.car_type_id"  required>
            <option *ngFor = "let type of types" value = "{{type.id}}">{{ type.model+' '+type.manufacturer }}</option>
          </select>
      </div>
    </div> -->


    <div class="form-group row">
      <label class="col-2 col-form-label">license valid until </label>
      <div class="col-10">
        <input class="form-control" type="date" *ngIf = "edit" name="validUntil" [(ngModel)] = "car.validUntil">
        <label class="col-12"  *ngIf = "!edit"   id="top" > {{ car.validUntil }}</label>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">license number</label>
      <div class="col-10">
        <input class="form-control" type="text" *ngIf = "edit"  name="licenseNumber" [(ngModel)] = "car.licenseNumber">
        <label class="col-12"  *ngIf = "!edit" id="top" > {{ car.licenseNumber }}</label>
      </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">starting kilometers</label>
        <div class="col-10">
          <input class="form-control" type="text" *ngIf = "edit"  name="initialKilometers" [(ngModel)] = "car.initialKilometers">
          <label class="col-12"  *ngIf = "!edit"  id="top" > {{ car.initialKilometers }}</label>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-2 col-form-label">Car Model</label>
        <div class="col-10">
          <input class="form-control" type="text" *ngIf = "edit"  name="carModel" [(ngModel)] = "car.carModel">
          <label class="col-12"  *ngIf = "!edit"  id="top" > {{ car.carModel }}</label>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-2 col-form-label">chassis Number</label>
        <div class="col-10">
          <input class="form-control" type="text" *ngIf = "edit"  name="initialKilometers" [(ngModel)] = "car.chassisNumber">
          <label class="col-12"  *ngIf = "!edit"  id="top" > {{ car.chassisNumber }}</label>
        </div>
      </div>
   
      <div class="form-group row">
          <label class="col-2 col-form-label">car status</label>
          <div class="col-10">
              <label    class="col-12"  *ngIf = "!edit"  >{{ car.status }}</label>

            <select class="form-control input"  *ngIf = "edit"[(ngModel)] = "statusname" name="statusname" required>
              <option *ngFor = "let status of state" value = "{{status.name}}">{{ status.name }}</option>
            </select>
          </div>
        </div>
   
    

          






<button class="btn btn-primary btn-block" *ngIf = "!edit" (click) = "editCar()">Edit</button>
<button class="btn btn-success btn-block" *ngIf = "edit" (click) = "done()">Done!</button>
<button  id ="cancel"  class="btn btn-success btn-block" (click) = "back()">Cancel</button>


</div>
</div>
