<div style = "padding:2px">
    
   
</div>


<agm-map [(latitude)]="lat" [(longitude)]="lng"  style="height: 400px;">
  
<agm-polyline [visible]="true" [strokeOpacity]="0.9" *ngFor="let value of last3; let o=index" [strokeColor]="coloredNow[o].color" >
  <agm-polyline-point  *ngFor="let c of value" [latitude]="c[0]" [longitude]="c[1]"></agm-polyline-point>

</agm-polyline>

  <div *ngFor= "let value of last3; let y=index">
    <div  *ngFor="let c of value; let x=index">
  
  <agm-marker *ngIf="x==0"  [(latitude)]="c[0]" [(longitude)]="c[1]" (markerClick)="checkL(this)" iconUrl="../assets/images/green.png" > 

    <agm-info-window [disableAutoPan]="false" #infoWindow (markerClick)="c.lastOpen?.close(); c.lastOpen"  >

     
        <div>
            <a (click)="onClickInfoView({id:m.id})" class="btn btn-attention pull-right"> 
            <strong>Zone name:</strong>    {{zone_name[y] }} <br>
            <i class="fa fa-angle-double-right"></i></a>
        </div>

    </agm-info-window>
    </agm-marker>
  </div>
  </div>

</agm-map>

<br>
<br>
<div style="overflow-x:auto;">
<table class="table table-hover" *ngIf="!spinner">
  <thead>
    <tr>
      <th *ngFor="let header of headers"><a> {{ header }}</a>
        <i class="icon-arrows-up" *ngIf="header == selectedHeader && asc"></i>
        <i class="icon-arrows-down" *ngIf="header == selectedHeader && !asc"></i>
      </th>
      <th>
        Zone Id
      </th>
      <th>
        Zone Name
      </th>
      <th>
        Options
      </th>

         <!-- <div *ngFor="let value of last">{{value[0]}}</div> -->

      
     
    </tr>
  </thead>
 <!-- <tbody> -->
     <!-- <div *ngFor="let zone of zone_name; let in = index"> 
       //////{{value[0][in]}}////// 
       <div *ngFor="let c of value; let b=index" >
           <div *ngFor="let x of c"> 
              {{zone}}====={{in}}
            </div> 
       </div>  
      
        </div> -->

    <tr  style="cursor:pointer;"  *ngFor="let zone of zone_name;let p=index"  (click)="colorPoly(zone_id[p])"> 
      <td>
        {{zone_id[p]}}
       </td>
      <td (click) = "securityService.checkPrivilage(38)">
        {{ zone }}
      </td>
      <!-- <td (click) = "securityService.checkPrivilage(38)">
        300
      </td> -->
      <td>
        <a *ngIf="securityService.checkPrivilage(33)" (click) = "delete(zone_id[p])" ><i class="icon-basic-trashcan"  ></i> Delete</a>
         <!-- - 
        <a *ngIf="securityService.checkPrivilage(32)" (click) = "open(payment)" ><i class="icon-eye"  ></i> View</a> -->
      </td>


      <!-- <td (click) = "securityService.checkPrivilage(38)">
        {{ trip.end_time }}
      </td>
      <td (click) = "securityService.checkPrivilage(38)">
        {{ trip.addressFrom }}
      </td>
      <td (click) = "securityService.checkPrivilage(38)">
        {{ trip.addressTo}}
      </td>
      <td (click) = "securityService.checkPrivilage(38)">
        {{ trip.status }}
      </td>
      <td (click) = "securityService.checkPrivilage(38)">
        {{ trip.distance }}
      </td>
      <td (click) = "securityService.checkPrivilage(38)">
        {{ trip.duration }}
      </td>
      <td (click) = "securityService.checkPrivilage(38)">
        {{ trip.number }}
      </td>
      <td (click) = "securityService.checkPrivilage(38)">
        {{ trip.type }}
      </td> -->
      
      
    </tr>
  </tbody> 
</table>
</div>


<div class="loader01" *ngIf="spinner"></div>


