.ng2-tag-input-field[_ngcontent-c4]{
    display: none!important;
}

.ng2-tag-input-remove{
    display:none!important;
}

:host .ng2-tag-input-remove {
       display:none!important;
    }

.icon-group a {
  display: block;
  padding-left: 40px;
  height: 32px;
  line-height: 32px;
  margin-bottom: 5px;
  .icon, .fa,
  [class^="icon-"],
  [class*=" icon-"] {
    position: absolute;
    top: 0;
    left: 10px;
    min-width: 30px;
    text-align: center;
    line-height: 32px;
  }
  &:hover .fa,
  &:hover .icon,
  &:hover [class^="icon-"],
  &:hover [class*=" icon-"] {
    top: 5px;
    font-size: 1.5em;
  }
}
:host {
  padding: 0!important;
  height: 100%;
}
.gu-mirror {
  background-color: white;
  border-radius: 0.125rem;
  padding: 0.5rem;
  opacity: 1;
}

.fab {
  position: fixed;
  width: 56px;
  bottom: 3%;
  right: 1%;
  margin-left: -28px;
}

.fab-action-button {
  position: absolute;
  bottom: 0;
  display: block;
  width: 56px;
  height: 56px;
  background-color: #5cb85c;
  border-radius: 50%;
}

.fab-heading {
  display: inline-block;
  width: 56px;
  height: 56px;
  padding:17%
}


.input {
  width: 90%;
  margin-left:7%
}

.taskboard-task-title {
  width: 80%;
  overflow-x: hidden;
  text-overflow:ellipsis;
}

a {
    color: black;
}
  
a:hover {
    color: black;
    text-decoration: underline;
}

.mark_lead{
  color:orangered !important;
}

@media screen and (min-width: 720px) {
    .addbutton {
      padding-left:10%
    }
}

@media screen and (max-width: 720px) {
    .addbutton {
        margin-left:16%
  
    }
    
}

