<table class="table" >
  <thead>
    <tr>
     <!--
      <th>
        id
      </th>
    -->
      <th>
        Name
      </th>
      <th>
        Details
      </th>
      <th>
        Definition
      </th>
      <th>
        Options
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let value of data">
      
      <!--
      <td>
        {{ value.id }}
      </td>
    -->
      <td>
        {{ value.name }}
      </td>
      <td>
        {{ value.details }}
      </td>
      <td>
      <tag-input [(ngModel)]='value.definition' [maxItems] = "0" [removable] = "false"></tag-input></td>
      <td>
        <div class="form-group row">
          <a *ngIf="securityService.checkPrivilage(18)" (click) = "delete(value.id)" style = "margin-right: 11%"><i class="icon-basic-trashcan"  ></i></a>
          <a *ngIf="securityService.checkPrivilage(19)" (click) = "new(value.id)" style="margin-right: 10%"><i class="icon-arrows-circle-plus" ></i></a>
          <a *ngIf="securityService.checkPrivilage(17)" (click) = "edit(value.id)"><i class="icon-software-pencil" ></i></a>
        </div>
      </td>
    </tr>
  </tbody>


</table>

<div class="fab" *ngIf="securityService.checkPrivilage(16)">
  <span class="fab-action-button" (click)="create()">
  <img src = "assets/images/plus.png" class = "fab-heading">
</span>