<div class="alert alert-{{alert.type}} alert-block" *ngIf="alert.visible">
    <strong>{{alert.message}}!</strong>
    <span class="close" (click)="dismissAlert()">&times;</span>
  </div>
<div class="card">
  <div class="card-block">
<form>
   <div class="form-group row">
      <label class="col-2 col-form-label">car  model </label>
      <div class="col-10">
        <input class="form-control" type="text" *ngIf = "edit" name="njjame" [(ngModel)] = "type.model" required/>
        <label  id="rname"   class="col-12"  *ngIf = "!edit"  >{{ type?.model }}</label>
      </div>
    </div>

     <div class="form-group row">
        <label class="col-2 col-form-label">car  type</label>
        <div class="col-10">
          <input class="form-control" type="text" *ngIf = "edit" name="name" [(ngModel)] = "type.manufacturer" required/>
          <label  id="rname"   class="col-12"  *ngIf = "!edit"  >{{ type?.manufacturer }}</label>
        </div>
      </div>


      <div class="form-group row">
        <label class="col-2 col-form-label">Production year</label>
        <div class="col-10">
          <input class="form-control" type="text" *ngIf = "edit" name="namee" [(ngModel)] = "type.productionYear" required/>
          <label  id="rname"   class="col-12"  *ngIf = "!edit"  >{{ type?.productionYear }}</label>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">Number of passengers</label>
        <div class="col-10">
          <input class="form-control" type="text" *ngIf = "edit" name="namee" [(ngModel)] = "type.capacityPeople" required/>
          <label  id="rname"   class="col-12"  *ngIf = "!edit"  >{{ type?.capacityPeople }}</label>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">Number of bags</label>
        <div class="col-10">
          <input class="form-control" type="text" *ngIf = "edit" name="namee" [(ngModel)] = "type.capacityBags" required/>
          <label  id="rname"   class="col-12"  *ngIf = "!edit"  >{{ type?.capacityBags }}</label>
        </div>
      </div>



  </form>


    <button id="edit" class="btn btn-primary btn-block" *ngIf = "!edit" (click) = "editType()">Edit</button>
    <button class="btn btn-success btn-block" *ngIf = "edit" (click) = "done()">Done!</button>
    <button  id ="cancel"  class="btn btn-success btn-block" (click) = "back()">Cancel</button>

  </div>
</div>
