<div class="d-flex align-items-stretch min-height-100 bg-dark text-white">
  <div class="p-5">
    <div class="error-number fw-900 text-warning text-uppercase">Error 401</div>
    <h6 class="fw-300 mb-0">Unauthorized Access :(</h6>
    <small class="ff-headers fw-300">Sorry, you don't have permission to access the page requested. <a [routerLink]="['/']">Take me home</a></small>
  </div>
</div>
