 <!-- <div class="alert alert-{{alert.type}} alert-block" *ngIf="alert.visible">
    <strong>{{alert.message}}!</strong>
    <span class="close" (click)="dismissAlert()">&times;</span>
  </div> -->
<div class="card">
  <div class="card-block">
    <div class="form-group row">
   
   
   
   
      <label class="col-2 col-form-label">Name</label>

      <div class="col-10">
        <input class="form-control" type="text" *ngIf = "edit" name="name" [(ngModel)] = "employee.name"/>
        <label class="col-12"  *ngIf = "!edit"  >{{ employee.name }}</label>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Email</label>
      <div class="col-10">
        <input class="form-control" type="email" *ngIf = "edit" name="email" [(ngModel)] = "employee.email">
        <label class="col-12"  *ngIf = "!edit"  > {{ employee.email }}</label>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Phone</label>
      <div class="col-10">
        <input class="form-control" type="text" *ngIf = "edit"  name="phone" [(ngModel)] = "employee.phone">
        <label class="col-12"  *ngIf = "!edit" > {{ employee.phone }}</label>
      </div>
    </div>
    <div class="form-group row"  >
      <label class="col-2 col-form-label">Password</label>
      <div class="col-10">
        <input class="form-control" type="password"  *ngIf = "edit"  name="password" [(ngModel)] = "employee.password">
         <label class="col-12"  *ngIf = "!edit" ></label>
      </div>
    </div>
    

<button class="btn btn-primary btn-block" *ngIf = "!edit" (click) = "editEmployee()">Edit</button>
<button class="btn btn-success btn-block" *ngIf = "edit" (click) = "done()">Done!</button>
<button id="cancel" class="btn btn-success btn-block"  (click) = "back()">Back</button>

</div>
</div>
