<div class="alert alert-{{alert.type}} alert-block" *ngIf="alert.visible">
    <strong>{{alert.message}}!</strong>
    <span class="close" (click)="dismissAlert()">&times;</span>
  </div>
<div class="card">
  <div class="card-header">Edit {{ product }}</div>
  <div class="card-block"> 
    <div class="form-group row">
      <label class="col-2 col-form-label">Name</label>
      <div class="col-10">
        <input class="form-control" type="text" [(ngModel)] = "name" >
      </div>
    </div>   
    <div class="form-group row" *ngFor = "let fieldType of fieldTypes, let i=index">
      <label class="col-2 col-form-label">{{ data[i][0] }}</label>
      <div class="col-10">
        <input class="form-control" type="text" [(ngModel)] = "data[i][1]" *ngIf = "fieldType == 'varchar'">
         <input class="form-control" name="date" [returnObject]=" 'js' " [viewFormat] = "'ll'" [value]="data[i][1] | date: 'yyyy-MM-dd HH:mm:ss'" [(ngModel)]="data[i][1]" dateTimePicker [mode]="'dropdown'" *ngIf = "fieldTypes[i] == 'datetime'" > 
       <input class="form-control" type="number"  [(ngModel)] = "data[i][1]"  *ngIf = "fieldType == 'int'">
        <input class="form-control" type="checkbox"  [(ngModel)] = "data[i][1]"   *ngIf = "fieldType == 'boolean'">
        <select class="form-control" [(ngModel)] = "data[i][1]"  *ngIf = "fieldType == 'select'">
                <option *ngFor = "let value of data[i][2]">{{ value }}</option>
        </select>
      </div>
    </div>
  







<button class="btn btn-success btn-block" (click) = "done()">Done!</button>

</div>
</div>
