<div class="d-flex align-items-stretch min-height-100 h-100">
  <div class="bg-cover bg-3 hidden-sm-down col-md-6 col-lg-8"></div>
  <div class="card card-block mb-0 rounded-0 p-5 col-sm-12 col-md-6 col-lg-4">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <img src="assets/images/logo.png" class="avatar-xs mb-1" alt="" style="width:30%">
        <p class="ff-headers text-uppercase">Recover your password</p>
      </div>
      <fieldset class="form-group" [ngClass]="{'has-danger': form.controls['uname'].hasError('required') && form.controls['uname'].touched}">
        <label for="username" class="form-control-label">
          Enter new password
        </label>
        <input type="password" class="form-control" [(ngModel)] = "password"  [formControl]="form.controls['uname']" [ngClass]="{'form-control-danger': form.controls['uname'].hasError('required') && form.controls['uname'].touched}"/>
        <div class="form-control-feedback" *ngIf="form.controls['uname'].hasError('required') && form.controls['uname'].touched">Password is required.</div>
        <div class="form-control-feedback" >{{response}}</div>
      
      </fieldset>

      
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid" >Reset ppassword</button>
     

    </form>
  </div>
</div>