<div class="wrapper" *ngIf="existCustomer">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body" *ngIf="edit">
          <div class="row" >
            <div class="col">

              <div style="float: left;  margin-bottom: 0 !important;  clear: both; "  >



              <label id="LeftSpace" class="ma-0" > Name :<b> {{customerName}} </b> </label>
                 

                  </div>

             <div style="float: left;  margin-bottom: 0 !important;  clear: both;" >
                  <label id="LeftSpace" class="ma-0" > Address :<b>{{customerAddress}}</b> </label>
                  
             </div>

             <div style="float: left;  margin-bottom: 0 !important;  clear: both;" >

                  <label id="LeftSpace" class="ma-0"> Company : <b>{{customerCompany}}</b></label>
                
             
             </div>  

             <div style="float: left;  margin-bottom: 0 !important;  clear: both;" >

                <label id="LeftSpace" class="ma-0"> Phone : <b>{{customerNumber}}</b></label>
              
           
           </div>  
           <div style="float: left;  margin-bottom: 0 !important;  clear: both;" >

              <label id="LeftSpace" class="ma-0"> Phone 2 : <b>{{customerNumber2}}</b></label>
            
         
         </div>  
         <div style="float: left;  margin-bottom: 0 !important;  clear: both;" >

            <label id="LeftSpace" class="ma-0"> Email : <b>{{customerEmail}}</b></label>
          
       
       </div>  

       <div style="float: left;  margin-bottom: 0 !important;  clear: both;" >

          <label id="LeftSpace" class="ma-0"> Email 2 : <b>{{customerEmail2}}</b></label>
        
     
     </div>  


     <div style="float: left;  margin-bottom: 0 !important;  clear: both;" >

      <label id="LeftSpace" class="ma-0"> Number of Leads: <b>{{numberOfLeads}}</b></label>
    
 
 </div> 

 <div style="float: left;  margin-bottom: 0 !important;  clear: both;" >

    <label id="LeftSpace" class="ma-0"> comments on Customer : 
   
      <div *ngFor = "let comment of comments" >

<b> {{comment.comment}}</b>

      </div>
  
    </label>
</div> 

            </div>

          </div>

          <button  id ="buttonAdd"type="button" class=" btn-success" (click)= "open()">Add Booking</button>


        </div>
   
       
      </div>
    </div>
   
  </div>
</div>


<div class="wrapper" *ngIf="!existCustomer">
  <div>
    <form #AddForm="ngForm"    novalidate >
          
      <div class="form-group row">
        <label class="col-2 col-form-label" for="name">Customer Name</label>
        <div class="col-10">
      
        <input   name="customername"  class="form-control input" required minlength="4" [(ngModel)]="customerName" #name="ngModel" >
  
          
        </div>
      </div>
  
      <div class="form-group row"  >
        <label  class="col-2 col-form-label"> Address</label>
        <div class="col-10">
          <input id="mapsp" class="form-control input" type="text" name="address" [(ngModel)] = "booking.Address" >
  
          <button type="submit" (click)="geo('from')" >search </button>

          <agm-map  id="" [(latitude)]="lat1" [(longitude)]="lng1"  style="height: 200px;" (mapClick)="onChosenLocation($event)"  
           ControlPosition ="'TOP_LEFT'" [zoom]="15"  > 
           <!-- <button>heyyyyyy</button> -->
            <agm-marker [(latitude)]="lat1" [(longitude)]="lng1" > </agm-marker>
          </agm-map>

        </div>


      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">Customer Company</label>
        <div class="col-10">
          <input   class="form-control input" type="text"  name="customercompany" [(ngModel)] = "customerCompany"   #customercompany="ngModel" required>
        
          <div *ngIf="customercompany.invalid && (customercompany.dirty || customercompany.touched)"  class="alert alert-light">
              
            
             
          </div>
        
        </div>
      </div>
  
  
      <div class="form-group row">
        <label class="col-2 col-form-label">Customer Phone</label>
        <div class="col-10">
          <input   class="form-control  input" type="text"   name="customerphone" minlength="11" [(ngModel)] = "customerNumber" #customerphone="ngModel"  required>
        
        </div>
      </div>
  
      <div class="form-group row">
        <label class="col-2 col-form-label">Customer Phone 2</label>
        <div class="col-10">
          <input   class="form-control  input" type="text"  name="customerphone2"  [(ngModel)] = "customerNumber2" #customerphone2="ngModel">
  
          
        </div>  
      </div>
  
      <div class="form-group row">
        <label class="col-2 col-form-label">Customer Email</label>
        <div class="col-10">
          <input  class="form-control input" type="email"  name="customeremail" [(ngModel)] = "customerEmail" #customeremail="ngModel">
          
        </div>
      </div>
  
      <div class="form-group row">
        <label class="col-2 col-form-label">Customer Email 2</label>
        <div class="col-10">
          <input   class="form-control input" type="email"  name="customeremail2" [(ngModel)] = "customerEmail2">
       
        </div>
      </div>
  
  
        <div class="form-group row">
          <label class="col-2 col-form-label">Customer Payment</label>
          <div class="col-10">
            <select class="form-control input" [(ngModel)] = "lead_payment" name="lead_payment" required>
              <option *ngFor = "let payment of payments" value = "{{payment.name}}">{{ payment.name }}</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-2 col-form-label">VIP Customer</label>
          <div class="col-10">
            <input [(ngModel)]="vip" type="checkbox" name="vip">        
          </div>
        </div>


        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" (click)="close()">Done</button>-->
          <button type="button" class="btn btn-secondary"  (click)="submit()" >Done</button>
          <button type="button" class="btn btn-secondary" >Cancel</button>
         </div>

        </form>
</div>
