<div style = "padding:2px">
    <button *ngIf="securityService.checkPrivilage(31)" type="button" (click)="create()" class="btn btn-info btn-block mb-1">
          <span>Add</span>
    </button>
    </div>
    
    
    
    <br>
    <br>
    <div style="overflow-x:auto;">
    <table class="table table-hover" *ngIf="!spinner">
      <thead>
        <tr>
          <th *ngFor="let header of headers">{{ header }}
          </th>
          <th>
            Options
          </th>
        </tr>
      </thead>
     <tbody>
        <tr style="cursor:pointer;" *ngFor="let driver of rows">
        

          <td (click)='securityService.checkPrivilage(32) && open(driver)'>
            {{ driver.name }}
          </td>
          <td (click)='securityService.checkPrivilage(32) && open(driver)'>
            {{ driver.national_id }}
          </td>
          <td (click)='securityService.checkPrivilage(32) && open(driver)'>
            {{ driver.phone_number }}
          </td>
          <td (click)='securityService.checkPrivilage(32) && open(driver)'>
            {{ driver.license_number }}
          </td>
          <td (click)='securityService.checkPrivilage(32) && open(driver)'>
            {{ driver.license_degree }}
          </td>
          <td (click)='securityService.checkPrivilage(32) && open(driver)'>
            {{ driver.license_expiry }}
          </td>
          <td (click)='securityService.checkPrivilage(32) && open(driver)'>
            {{ driver.code }}
          </td>
          
          <td>
            <a *ngIf="securityService.checkPrivilage(33)" (click) = "delete(driver.id)" ><i class="icon-basic-trashcan"  ></i> Delete</a>
             - 
            <a *ngIf="securityService.checkPrivilage(32)" (click) = "open(driver)" ><i class="icon-eye"  ></i> View</a>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
    
    
    <div class="loader01" *ngIf="spinner"></div>
    