<div class="row">
  <div class="col-lg-4 col-md-6">
    <div class="card card-primary card-inverse">
      <div class="card-header">
        Primary portlet
        <span class="mr-auto"></span>
        <div class="card-controls">
          <a href="javascript:;" (click)="isCollapsed = !isCollapsed" *ngIf="!isCollapsed">
            <i class="icon icon-arrows-down"></i>
          </a>
          <a href="javascript:;" (click)="isCollapsed = !isCollapsed" *ngIf="isCollapsed">
            <i class="icon icon-arrows-up"></i>
          </a>
        </div>
      </div>
      <div class="card-block" [ngbCollapse]="isCollapsed">
        <p class="card-text">
          Maecenas faucibus mollis interdum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam id dolor id nibh ultricies vehicula ut id elit.
        </p>
      </div>
    </div>
  </div>
</div>