<div class="alert alert-{{alert.type}} alert-block" *ngIf="alert.visible">
    <strong>{{alert.message}}!</strong>
    <span class="close" (click)="dismissAlert()">&times;</span>
  </div>
<div class="card">
  <div class="card-block">

    <div class="form-group row">
      <label class="col-2 col-form-label">car model</label>
      <div class="col-10">
        <input class="form-control" type="text"  name="name" [(ngModel)] = "car_type.model" required>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">car manufacturer</label>
      <div class="col-10">
        <input class="form-control" type="text"  name="namee" [(ngModel)] = "car_type.manufacturer" required>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">production year</label>
      <div class="col-10">
        <input class="form-control" type="text"  name="nameee" [(ngModel)] = "car_type.productionYear" required>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">number of bags</label>
      <div class="col-10">
        <input class="form-control" type="text"  name="capacityBags" [(ngModel)] = "car_type.capacityBags" required>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">number of passengers</label>
      <div class="col-10">
        <input class="form-control" type="text"  name="capacityPeople" [(ngModel)] = "car_type.capacityPeople" required>
      </div>
    </div>


    <button class="btn btn-success btn-block" (click) = "done()">Done!</button>
    <button id="cancel" class="btn btn-success btn-block" (click) = "back()">Cancel</button>

  </div>
</div>
