@import "../../../assets/styles/scss/components/sts";
@import "../../../assets/fonts/simple-line-icons/simple-line-icons.css";

html, body {
  overflow-x: hidden;
}
body {
  position: relative
}

.icon-group a {
  display: block;
  padding-left: 40px;
  height: 32px;
  line-height: 32px;
  margin-bottom: 5px;
  .icon, .fa,
  [class^="icon-"],
  [class*=" icon-"] {
    position: absolute;
    top: 0;
    left: 10px;
    min-width: 30px;
    text-align: center;
    line-height: 32px;
  }
  &:hover .fa,
  &:hover .icon,
  &:hover [class^="icon-"],
  &:hover [class*=" icon-"] {
    top: 5px;
    font-size: 1.5em;
  }
}

.gu-mirror {
  background-color: white;
  border-radius: 0.125rem;
  padding: 0.5rem;
  opacity: 1;
}



@media screen and (min-width: 720px) {
    .add {
          display: inline-block;
          margin-top: 2px;
          margin: 0px !important;
          float: right;
          width: 10%;
  
    }
    .search1 {
      width: 88%;
      display: inline-block;
    }
}

@media screen and (max-width: 720px) {
    .add {
          margin-top: 3px;
  
    }
    .search1 {
        display: inline-block;
        width: 72%;
    }
}