 <div class="alert alert-{{alert.type}} alert-block" *ngIf="alert.visible">
    <strong>{{alert.message}}!</strong>
    <span class="close" (click)="dismissAlert()">&times;</span>
</div>
<div class="card">
  <div class="card-header">Create {{ product }}</div>
  <div class="card-block">    
    <div class="form-group row">
      <label class="col-2 col-form-label">Name</label>
      <div class="col-10">
        <input class="form-control" type="text" [(ngModel)] = "name">
      </div>
    </div>
    <div class="form-group row" *ngFor = "let field of fields, let i=index">
      <label class="col-2 col-form-label">{{ field }}</label>
      <div class="col-10">
        <input class="form-control" type="text" [(ngModel)] = "input[i]" *ngIf = "fieldTypes[i] == 'varchar'">
        <input class="form-control" name="date" [returnObject]=" 'js' " [viewFormat] = "'ll'" [value]="input[i] | date: 'yyyy-MM-dd HH:mm:ss'" [(ngModel)]="input[i]" dateTimePicker [mode]="'dropdown'" *ngIf = "fieldTypes[i] == 'datetime'" > 
        <input class="form-control" type="number"  [(ngModel)] = "input[i]"  *ngIf = "fieldTypes[i] == 'int'">
        <input class="form-control" type="checkbox"  [(ngModel)] = "input[i]"   *ngIf = "fieldTypes[i] == 'boolean'">
        <select class="form-control" [(ngModel)] = "input[i]"  *ngIf = "fieldTypes[i] == 'select'">
                <option *ngFor = "let value of multivalued[i]">{{ value }}</option>
        </select>
      </div>
    </div>
  







<button class="btn btn-success btn-block" (click) = "done()">Done!</button>
<button  id ="cancel"  class="btn btn-success btn-block" (click) = "back()">Cancel</button>


</div>
</div>
