<div class="alert alert-{{alert.type}} alert-block" *ngIf="alert.visible">
    <strong>{{alert.message}}!</strong>
    <span class="close" (click)="dismissAlert()">&times;</span>
  </div>
<div class="card">
  <div class="card-block">
<form>
   <div class="form-group row">
      <label class="col-2 col-form-label"> name </label>
      <div class="col-10">
        <input class="form-control" type="text" *ngIf = "edit" name="name" [(ngModel)] = "driver.name" required/>
        <label  id="rname"   class="col-12"  *ngIf = "!edit"  >{{ driver?.name }}</label>
      </div>
    </div>

        <div class="form-group row">
        <label class="col-2 col-form-label"> national id</label>
        <div class="col-10">
          <input class="form-control" type="text" *ngIf = "edit" name="national_id" [(ngModel)] = "driver.national_id" required/>
          <label  id="rname"   class="col-12"  *ngIf = "!edit"  >{{ driver?.national_id }}</label>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label"> phone number</label>
        <div class="col-10">
          <input class="form-control" type="text" *ngIf = "edit" name="phone_number" [(ngModel)] = "driver.phone_number" required/>
          <label  id="rname"   class="col-12"  *ngIf = "!edit"  >{{ driver?.phone_number }}</label>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label"> license number </label>
        <div class="col-10">
          <input class="form-control" type="text" *ngIf = "edit" name="license_number" [(ngModel)] = "driver.license_number" required/>
          <label  id="rname"   class="col-12"  *ngIf = "!edit"  >{{ driver?.license_number }}</label>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label"> license degree</label>
        <div class="col-10">
          <input class="form-control" type="text" *ngIf = "edit" name="license_degree" [(ngModel)] = "driver.license_degree" required/>
          <label  id="rname"   class="col-12"  *ngIf = "!edit"  >{{ driver?.license_degree }}</label>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label"> license expiry</label>
        <div class="col-10">
          <input class="form-control" type="date" *ngIf = "edit" name="license_expiry" [(ngModel)] = "driver.license_expiry" required/>
          <label  id="rname"   class="col-12"  *ngIf = "!edit"  >{{ driver?.license_expiry }}</label>
        </div>
      </div>

     
  </form>
    

    <button id="edit" class="btn btn-primary btn-block" *ngIf = "!edit" (click) = "editDriver()">Edit</button>
    <button class="btn btn-success btn-block" *ngIf = "edit" (click) = "done()">Done!</button>
    <button  id ="cancel"  class="btn btn-success btn-block" (click) = "back()">Cancel</button>
    
  </div>
</div>
