<div class="alert alert-{{alert.type}} alert-block" *ngIf="alert.visible">
    <strong>{{alert.message}}!</strong>
    <span class="close" (click)="dismissAlert()">&times;</span>
  </div>
<div class="card">
  <div class="card-block">
      <div class="form-group row">
          <label class="col-2 col-form-label">Car number</label>
          <div class="col-10">
            <input class="form-control" type="text"  name="username" [(ngModel)] = "car.number" required>
          </div>
        </div>
    
    <div class="form-group row">
      <label class="col-2 col-form-label">Car Type</label>
      <div class="col-10">
          <select class="form-control" [(ngModel)] = "car.car_type_id"  required>
            <option *ngFor = "let type of types" value = "{{type.id}}">{{ type.model+' '+type.manufacturer }}</option>
          </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">license valid until </label>
      <div class="col-10">
        <input class="form-control" type="date"  name="email" [(ngModel)] = "car.validUntil" required>
      </div>
    </div>  
    
    <div class="form-group row">
      <label class="col-2 col-form-label">license number</label>
      <div class="col-10">
        <input class="form-control" type="text"  name="phone" [(ngModel)] = "car.licenseNumber" required>
      </div>
    </div> 
    
    <div class="form-group row">
        <label class="col-2 col-form-label">starting kilometers</label>
        <div class="col-10">
          <input class="form-control" type="text"  name="phone" [(ngModel)] = "car.initialKilometers" required>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">Car Model</label>
        <div class="col-10">
          <input class="form-control" type="text"  name="model" [(ngModel)] = "car.carModel" required>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">chassis Number</label>
        <div class="col-10">
          <input class="form-control" type="text"  name="number" [(ngModel)] = "car.chassisNumber" required>
        </div>
      </div>
   
      <div class="form-group row">
      <label class="col-2 col-form-label">car status</label>
      <div class="col-10">
        <select class="form-control input" [(ngModel)] = "statusname" name="statusname" required>
          <option *ngFor = "let status of state" value = "{{status.name}}">{{ status.name }}</option>
        </select>
      </div>
    </div>
          







<button class="btn btn-success btn-block" (click) = "done()">Done!</button>
<button id="cancel" class="btn btn-success btn-block" (click) = "back()">Cancel</button>

</div>
</div>
