<div class="alert alert-{{alert.type}} alert-block" *ngIf="alert.visible">
    <strong>{{alert.message}}!</strong>
    <span class="close" (click)="dismissAlert()">&times;</span>
  </div>
<div class="card">
  <div class="card-block">

    <div class="form-group row">
      <label class="col-2 col-form-label">name</label>
      <div class="col-10">
        <input class="form-control" type="text"  name="name" [(ngModel)] = "driver.name" required>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">national id</label>
      <div class="col-10">
        <input class="form-control" type="text"  name="namee" [(ngModel)] = "driver.national_id" required>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label"> phone number </label>
      <div class="col-10">
        <input class="form-control" type="text"  name="nameee" [(ngModel)] = "driver.phone_number" required>
      </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label"> license number </label>
        <div class="col-10">
          <input class="form-control" type="text"  name="number" [(ngModel)] = "driver.license_number" required>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label"> license degree </label>
        <div class="col-10">
          <input class="form-control" type="text"  name="degree" [(ngModel)] = "driver.license_degree" required>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label"> license expiry </label>
        <div class="col-10">
          <input class="form-control" type="date"  name="license_expiry" [(ngModel)] = "driver.license_expiry" required>
        </div>
      </div>
    


    <button class="btn btn-success btn-block" (click) = "done()">Done!</button>
    <button id="cancel" class="btn btn-success btn-block" (click) = "back()">Cancel</button>
    
  </div>
</div>
    