<table class="table" >
  <thead>
    <tr>
      <!--
      <th>
        id
      </th>
    -->
      <th>
        Name
      </th>
      <th>
        Definition
      </th>
      <th>
        Options
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let value of data">
      <!--
      <td>
        {{ value.id }}
      </td>
    -->
      <td>
        {{ value.name }}
      </td>
      <td>
      <tag-input [(ngModel)]='value.definition' [maxItems] = "0" [removable] = "false"></tag-input>
      </td>
      <td>
          <i class="icon-basic-trashcan" *ngIf="securityService.checkPrivilage(24)" (click) = "delete(value.id)" style="padding-right: 20%"></i>
          <i class="icon-software-pencil" *ngIf="securityService.checkPrivilage(23)" (click) = "edit(value.id)"></i>
      </td>
    </tr>
  </tbody>
</table>

<div class="fab" *ngIf="securityService.checkPrivilage(22)">
  <span class="fab-action-button" (click)="create()">
  <img src = "assets/images/plus.png" class = "fab-heading">
</span>