 <div class="alert alert-{{alert.type}} alert-block" *ngIf="alert.visible">
    <strong>{{alert.message}}!</strong>
    <span class="close" (click)="dismissAlert()">&times;</span>
  </div>
<div class="card">
  <div class="card-block">
    <div class="form-group row">
        <label class="col-2 col-form-label">Username</label>
        <div class="col-10">
          <input class="form-control" type="text" *ngIf = "edit" name="username" [(ngModel)] = "employee.username">
          <label class="col-12" *ngIf = "!edit" >{{ employee.username }}</label>
        </div>
      </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Name</label>
      <div class="col-10">
        <input class="form-control" type="text" *ngIf = "edit" name="name" [(ngModel)] = "employee.name"/>
        <label class="col-12"  *ngIf = "!edit"  >{{ employee.name }}</label>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Email</label>
      <div class="col-10">
        <input class="form-control" type="email" *ngIf = "edit" name="email" [(ngModel)] = "employee.email">
        <label class="col-12"  *ngIf = "!edit"  > {{ employee.email }}</label>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Phone</label>
      <div class="col-10">
        <input class="form-control" type="text" *ngIf = "edit"  name="phone" [(ngModel)] = "employee.phone">
        <label class="col-12"  *ngIf = "!edit" > {{ employee.phone }}</label>
      </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Address</label>
        <div class="col-10">
          <input class="form-control" type="text" *ngIf = "edit"  name="phone" [(ngModel)] = "employee.address">
          <label class="col-12"  *ngIf = "!edit" > {{ employee.address }}</label>
        </div>
      </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Department</label>
      <div class="col-10">
          <select *ngIf = "edit" class="form-control" [(ngModel)] = "employee.department_id"  required>
              <option *ngFor = "let department of departments" value = "{{department.id}}">{{ department.name }}</option>
            </select>
        <label class="col-12" *ngIf = "!edit"  > {{ employee.department_name }}</label>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Manager</label>
      <div class="col-10">
          <select *ngIf = "edit" class="form-control" [(ngModel)] = "employee.manager_id"  required>
              <option value = "">No Manager</option>  
              <ng-container *ngFor="let manager of managers">
                <option *ngIf = "manager.id != employee.id" value = "{{manager.id}}">
                  {{ manager.name }}
                </option>
              </ng-container>
            </select>
        <label class="col-12"  *ngIf = "!edit"  >{{ employee.manager_name }}</label>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Role</label>
      <div class="col-10">
              <select class="form-control" *ngIf = "edit" [(ngModel)] = "employee.role_id"  required>
                <option *ngFor = "let role of roles" value = "{{role.id}}">{{ role.name }}</option>
              </select>        
        <label class="col-12" *ngIf = "!edit" >{{ employee.role_name }}</label>
      </div>
    </div>

          






<button class="btn btn-primary btn-block" *ngIf = "!edit" (click) = "editEmployee()">Edit</button>
<button class="btn btn-success btn-block" *ngIf = "edit" (click) = "done()">Done!</button>
<button  id ="cancel"  class="btn btn-success btn-block" (click) = "back()">Cancel</button>


</div>
</div>
