 <div class="alert alert-{{alert.type}} alert-block" *ngIf="alert.visible">
    <strong>{{alert.message}}!</strong>
    <span class="close" (click)="dismissAlert()">&times;</span>
  </div>
<div class="card">
  <div class="card-block">
      <div class="form-group row">
          <label class="col-2 col-form-label">Username</label>
          <div class="col-10">
            <input class="form-control" type="text"  name="username" [(ngModel)] = "employee.username" required>
          </div>
        </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Name</label>
      <div class="col-10">
        <input class="form-control" type="text"  name="name" [(ngModel)] = "employee.name" required>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Email</label>
      <div class="col-10">
        <input class="form-control" type="email"  name="email" [(ngModel)] = "employee.email" required>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Phone</label>
      <div class="col-10">
        <input class="form-control" type="number"  name="phone" [(ngModel)] = "employee.phone" required>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Department</label>
      <div class="col-10">
          <select class="form-control" [(ngModel)] = "employee.department"  required>
            <option *ngFor = "let department of departments" value = "{{department.id}}">{{ department.name }}</option>
          </select>
    </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Role</label>
      <div class="col-10">
              <select class="form-control" [(ngModel)] = "employee.role"  required>
                <option *ngFor = "let role of roles" value = "{{role.id}}">{{ role.name }}</option>
              </select>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Manager</label>
      <div class="col-10">
          <select class="form-control" [(ngModel)] = "employee.manager"  required>
            <option value = "">No Manager</option>
            <option *ngFor = "let manager of managers" value = "{{manager.id}}">{{ manager.name }}</option>
          </select>
      </div>
    </div>

          







<button class="btn btn-success btn-block" (click) = "done()">Done!</button>
<button id="cancel" class="btn btn-success btn-block" (click) = "back()">Cancel</button>

</div>
</div>
