  <div class="alert alert-{{alert.type}} alert-block" *ngIf="alert.visible">
    <strong>{{alert.message}}!</strong>
    <span class="close" (click)="dismissAlert()">&times;</span>
  </div>
      
<div class="card">
        
  <div class="card-header">Create Service</div>
  <div class="card-block">
        <div class="form-group row">
        <label class="col-2 col-form-label">Name</label>
       <div class="col-10">
         <input  id="name" class="form-control" type="text"  name="name"  required minlength="4"  [(ngModel)] = "name"   required/>
        
      </div>
    </div>
    

    <hr>

    <div class="form-group row">
      <label class="col-2 col-form-label">Add Fields</label>
      <div class="col-10">
        <a (click) = "showAdd()"><span style="padding-left: 95%; position: relative; bottom: -15%;"><i class="icon-arrows-circle-plus"></i></span></a>
      </div>
    </div>

   <div *ngIf = "add.length > 0">
    <div class="form-group row" *ngFor="let a of add, let i = index">
      <div class="col-6">
      <label class="col-2 col-form-label">Name</label>
      <div class="col-10">
        <input class="form-control" type="text" id="name" name="name2" required minlength="4" [(ngModel)] = "data[i][0]"  required/>
      </div>
      </div>
      <div class="col-6">
      <label class="col-2 col-form-label">Type</label>
        <div class="col-10" style = "display: inline-block">
            <select class="form-control"  [(ngModel)] = "data[i][1]" (change) = "multiple(i)" name="namee" required  >
                <option value="varchar">Text</option>
                <option value="int">Number</option>
                <option value="datetime">Date</option>
                <option value="boolean">True or False</option>
                <option value="select">Multi value select</option>
              </select>
        </div>
        <div class="col-1" style = "display: inline-block">
            <a (click)="delete(i)" style = "margin-left: 126%;">
              <i class = "icon-basic-trashcan"></i>
            </a>
        </div>
      </div>
       <div class="col-12 " *ngIf = "data[i][1] == 'select'" style = "display:inline-block" >        
        <div class="col-10" style = "display:inline-block; padding: 0" > 
        <rl-tag-input [(ngModel)]="data[i][2]" addOnEnter = "true" placeholder="Add Values Here"></rl-tag-input>
        </div>
        <div class="col-2" style = "display:inline">
          <button class = "btn btn-primary btn-xs" (click)="clearAll(i)" style="margin-top: 3%;border-radius: 3px;font-size: x-small">
            Clear All
         </button>
        </div>
      </div>
    </div>
  </div>






<button class="btn btn-success btn-block"   (click) = "done()" >Done!</button>
<button  id ="cancel"  class="btn btn-success btn-block" (click) = "back()">Cancel</button>


</div>
</div>
