<div>
    <div class="alert alert-{{alert.type}} alert-block" *ngIf="alert.visible" style = "width: 157.8%;">
        <strong>{{alert.message}}!</strong>
        <span class="close" (click)="dismissAlert()">&times;</span>
      </div>
    <form >
          
      <div class="form-group row">
        <label class="col-2 col-form-label">Passenger Name</label>
        <div class="col-10">
          <input   class="form-control  input" type="text"  name="passenger"  [(ngModel)] = "booking.name" > 
        </div>  
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">Phone Number</label>
        <div class="col-10">
          <input   class="form-control  input" type="text"  name="number"  [(ngModel)] = "booking.phone" > 
        </div>  
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">Email</label>
        <div class="col-10">
          <input   class="form-control  input" type="text"  name="email"  [(ngModel)] = "booking.email" > 
        </div>  
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">Number of Bags</label>
        <div class="col-10">
          <input   class="form-control  input" type="text"  name="Number_Bags"  [(ngModel)] = "booking.numOfBags" > 
        </div>  
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">Number of Passengers</label>
        <div class="col-10">
          <input   class="form-control  input" type="text"  name="Number_Passengers"  [(ngModel)] = "booking.numOfPassengers" > 
        </div>  
      </div>

      <!-- <div class="form-group row"  >
        <label  class="col-2 col-form-label"> Car Type</label>
       <div class="col-10" *ngIf="booking.numOfPassengers > 3 || booking.numOfBags > 3">
          <select>
            <option>H1 Hyundai</option>
          </select>
        </div>  
        <div class="col-10" *ngIf="booking.numOfBags <= 3 && booking.numOfPassengers <= 3">
          <select>
            <option>H1 Hyundai</option>
            <option>Mercedes</option>
            <option>Kia Karens</option>
          </select>
        </div>  
    </div> -->
    <div class="form-group row" *ngIf="booking.numOfBags <= 3 && booking.numOfPassengers <= 3">
      <label class="col-2 col-form-label">Car Type</label>
      <div class="col-10">
          <select class="form-control" name="car_type_id" [(ngModel)] = "booking.car_type_id"  required>
            <option *ngFor = "let type of carTypes" value = "{{type.id}}">{{ type.model+' '+type.manufacturer }}</option>
          </select>
      </div>
    </div>
    
    <div class="form-group row" *ngIf="booking.numOfBags > 3 || booking.numOfPassengers > 3">
      <label class="col-2 col-form-label">Car Type</label>
      <div class="col-10">
          <select class="form-control" name="car_type_id" [(ngModel)] = "booking.car_type_id"  required>
            <option *ngFor = "let type of carTypesBig" value = "{{type.id}}">{{ type.model+' '+type.manufacturer }}</option>
          </select>
      </div>
    </div>
            <div class="form-group row"  >
              <label  class="col-2 col-form-label"> Address From</label>
              <div class="col-10">
                <input id="mapsp" class="form-control input" type="text" name="addressFrom" [(ngModel)] = "booking.AddressFrom" placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" #search [formControl]="searchControl">
                <!-- <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl"> -->

                <!-- <select *ngIf="addressesOptionsFrom.length>0" name="pickedAddressFrom" [(ngModel)]="pickedAddressFrom" (change)="pickingAddressFrom(value);">
                  <option *ngFor="let country of addressesOptionsFrom" [value]= "country" >
                    {{country}}
                  </option>
                </select>
                <br>
                <button type="submit" (click)="geo('from')" >search </button>
                 -->
                
                <agm-map  id="" [(latitude)]="latFrom" [(longitude)]="lngFrom"  style="height: 400px;" (mapClick)="onChosenLocation($event)"  
                 ControlPosition ="'TOP_LEFT'" [zoom]="zoom" > 
                 <agm-polyline [visible]="true" [strokeOpacity]="0.9" *ngFor="let value of last3; let o=index" >
                  <agm-polyline-point  *ngFor="let c of value" [latitude]="c[0]" [longitude]="c[1]"></agm-polyline-point>
                
                </agm-polyline>
                
                  <div *ngFor= "let value of last3; let y=index">
                    <div  *ngFor="let c of value; let x=index">
                  
                  <agm-marker *ngIf="x==0"  [(latitude)]="c[0]" [(longitude)]="c[1]" iconUrl="../assets/images/green.png" > 
                
                    <agm-info-window [disableAutoPan]="false" #infoWindow (markerClick)="c.lastOpen?.close(); c.lastOpen"  >
                
                     
                        <div>
                            <a (click)="onClickInfoView({id:m.id})" class="btn btn-attention pull-right"> 
                            <strong>Zone name:</strong>    {{zone_name[y] }} <br>
                            <i class="fa fa-angle-double-right"></i></a>
                        </div>
                
                    </agm-info-window>
                    </agm-marker>
                  </div>
                  </div>
                 <!-- <button>heyyyyyy</button> -->
                  <agm-marker [(latitude)]="latFrom" [(longitude)]="lngFrom" > 
                    <agm-info-window [disableAutoPan]="false" #infoWindow (markerClick)="c.lastOpen?.close(); c.lastOpen" *ngIf="booking.zoneVarFrom" >
                
                     
                      <div>
                          <a (click)="onClickInfoView({id:m.id})" class="btn btn-attention pull-right"> 
                          <strong>Marker Inside Zone:</strong>    {{booking.zoneVarFrom}} <br>
                          <i class="fa fa-angle-double-right"></i></a>
                      </div>
              
                  </agm-info-window>
      
                  </agm-marker>
                </agm-map>
      
              </div>
      
      
            </div>

      <div class="form-group row"  >
        <label  class="col-2 col-form-label"> Address To</label>
        <div class="col-10">
          <input id="mapsp" class="form-control input" name="addressTo" [(ngModel)] = "booking.AddressTo" placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" #search2 [formControl]="searchControl2">

            <!-- <input id="mapsp" class="form-control input" type="text" name="addressFrom" [(ngModel)] = "booking.AddressFrom" placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl"> -->

            <!-- <select *ngIf="addressesOptionsTo.length>0" name="pickedAddressTo" [(ngModel)]="pickedAddressTo" (change)="pickingAddressTo(value);">
              <option *ngFor="let country of addressesOptionsTo" [value]= "country" >
                {{country}}
              </option>
            </select>
          <button type="submit" (click)="geo('to')" >search </button> -->

          <agm-map  id="" [(latitude)]="latTo" [(longitude)]="lngTo"  style="height: 400px;" (mapClick)="onChoseLocation($event)"  
           ControlPosition ="'TOP_LEFT'" [zoom]="zoom2" > 
           <agm-polyline [visible]="true" [strokeOpacity]="0.9" *ngFor="let value of last3; let o=index" >
            <agm-polyline-point  *ngFor="let c of value" [latitude]="c[0]" [longitude]="c[1]"></agm-polyline-point>
          
          </agm-polyline>
          
            <div *ngFor= "let value of last3; let y=index">
              <div  *ngFor="let c of value; let x=index">
            
            <agm-marker *ngIf="x==0"  [(latitude)]="c[0]" [(longitude)]="c[1]" iconUrl="../assets/images/green.png" > 
          
              <agm-info-window [disableAutoPan]="false" #infoWindow (markerClick)="c.lastOpen?.close(); c.lastOpen"  >
          
               
                  <div>
                      <a (click)="onClickInfoView({id:m.id})" class="btn btn-attention pull-right"> 
                      <strong>Zone name:</strong>    {{zone_name[y] }} <br>
                      <i class="fa fa-angle-double-right"></i></a>
                  </div>
          
              </agm-info-window>
              </agm-marker>
            </div>
            </div>
           <!-- <button>heyyyyyy</button> -->
            <agm-marker [(latitude)]="latTo" [(longitude)]="lngTo" > 
              <agm-info-window [disableAutoPan]="false" #infoWindow (markerClick)="c.lastOpen?.close(); c.lastOpen" *ngIf="booking.zoneVarTo" >        
                <div>
                    <a (click)="onClickInfoView({id:m.id})" class="btn btn-attention pull-right"> 
                    <strong>Marker Inside Zone:</strong>    {{booking.zoneVarTo}} <br>
                    <i class="fa fa-angle-double-right"></i></a>
                </div>      
            </agm-info-window>
            </agm-marker>
          </agm-map>
        </div>
      </div>



      <div *ngIf="showprice"  class="form-group row">

      <label class="col-2 col-form-label">Price</label>
      <label class="col-10">{{newprice}}</label>
      <label class="col-2 col-form-label">Peak Price</label>
      <label class="col-10">{{newpricepeak}}</label>

      </div>
      <div class="form-group row" *ngIf="booking.AddressFrom.toUpperCase().indexOf(stringA.toUpperCase())!==-1 || booking.AddressFrom.indexOf(stringB)!==-1 || booking.AddressTo.toUpperCase().indexOf(stringA.toUpperCase())!==-1 || booking.AddressTo.toUpperCase().indexOf(stringB)!==-1">
        <label class="col-2 col-form-label">Flight Number</label>
        <div class="col-10">
          <input  class="form-control  input" type="text"  name="flightNumber"  [(ngModel)] = "booking.flightNumber"> 
        </div>  
      </div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Pick up Landmark</label>
        <div class="col-10">
          <input   class="form-control  input" type="text"  name="Date"  [(ngModel)] = "booking.land_mark" > 
        </div>  
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">Time</label>
        <div class="col-10">
          <input  class="form-control  input" type="time"   name="Time" [(ngModel)] = "booking.trip_time" >
        
        </div>
      </div>
  
      <div class="form-group row">
        <label class="col-2 col-form-label">Date</label>
        <div class="col-10">
          <input   class="form-control  input" type="date"  name="Date"  [(ngModel)] = "booking.trip_date" >
  
          
        </div>  
      </div>
      

     <div class="form-group row">
      <label class="col-2 col-form-label">How did you hear about us?</label>
      <div class="col-10">
        <select class="form-control input" [(ngModel)] = "booking.source" name="source" required>
          <option *ngFor = "let source of sources" value = "{{source.id}}">{{ source.name }}</option>
        </select>
      </div>
    </div>


    <!-- <div class="container">
      <h1>Angular 2 + Google Maps Places Autocomplete</h1>
      <div class="form-group">
        <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
      </div>
      <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" style="height: 400px;" (mapClick)="onChosenLocation($event)">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
      </agm-map>
    </div> -->

      <div class="modal-footer">
        <button type="button" class="btn sucess btn-secondary" (click)="done()" >Done</button>
        <button type="button" class="btn btn-secondary" >Cancel</button>
       </div>
    </form>
</div>      