<div style = "padding:2px">
<button *ngIf="securityService.checkPrivilage(25)" type="button" (click)="create()" class="btn btn-info btn-block mb-1">
      <span>Add</span>
</button>
</div>



<br>
<br>
<div style="overflow-x:auto;">
<table class="table table-hover" *ngIf="!spinner">
  <thead>
    <tr>
      <th *ngFor="let header of headers">
        {{ header }}
      </th>
      <th>
        Options
      </th>
    </tr>
  </thead>
 <tbody>
    <tr style="cursor:pointer;" *ngFor="let department of rows">
      <!--
      <td (click)='securityService.checkPrivilage(26) && open(department)'>
        {{ department.id }}
      </td>

    -->
      <td (click)='securityService.checkPrivilage(26) && open(department)'>
        {{ department.name }}
      </td>
      <td (click)='securityService.checkPrivilage(26) && open(department)'>
        {{ department.manager_name }}
      </td>
      <td (click)='securityService.checkPrivilage(26) && open(department)'>
          {{ department.count }} Employee(s)
        </td>
      <td>
        <a *ngIf="securityService.checkPrivilage(27)" (click) = "delete(department.id)" ><i class="icon-basic-trashcan"  ></i> Delete</a>
         - 
        <a *ngIf="securityService.checkPrivilage(26)" (click) = "open(department)" ><i class="icon-eye"  ></i> View</a>
      </td>

    </tr>
  </tbody>
</table>
</div>


<div class="loader01" *ngIf="spinner"></div>
