<div style = "padding:2px">
        <button *ngIf="securityService.checkPrivilage(31)" type="button" (click)="create()" class="btn btn-info btn-block mb-1">
              <span>Add</span>
        </button>
        </div>
        
        
        
        <br>
        <br>
        <div style="overflow-x:auto;">
        <table class="table table-hover" *ngIf="!spinner">
          <thead>
            <tr>
              <th *ngFor="let header of headers">{{ header }}
              </th>
              <th>
                Options
              </th>
            </tr>
          </thead>
         <tbody>
            <tr style="cursor:pointer;" *ngFor="let status of rows">
            
                    
              <td (click)='securityService.checkPrivilage(32) && open(status)'>
                {{ status.name }}
              </td>
              
             
              <td>
                <a *ngIf="securityService.checkPrivilage(33)" (click) = "delete(status.id)" ><i class="icon-basic-trashcan"  ></i> Delete</a>
                 - 
                <a *ngIf="securityService.checkPrivilage(32)" (click) = "open(status)" ><i class="icon-eye"  ></i> View</a>
              </td>
        
            </tr>
          </tbody>
        </table>
        </div>
        
        
        <div class="loader01" *ngIf="spinner"></div>
        