<label>Enter Keyword: </label>
<input type="text" class="form-control mb-3" [(ngModel)]="keyword">
<label>Enter columns to perform full-text search on (Press CTRL/CMD for multiple entries): </label>

<div class="form-group">
  <select class="form-control" id="headersearch" multiple [(ngModel)]="headersSearch" required>
              <option *ngFor = "let header of fulltext" > {{ header }}</option>
      </select>
</div>

<button type="button" (click)="search()" class="btn btn-info btn-block mb-1">
      <span>Search</span>
</button>


<br>
<br>
<table class="table table-responsive" *ngIf="!spinner">
  <thead>
    <tr>
      <th *ngFor="let header of headers"><a (click)="sort(header)"> {{ header }}</a>
        <i class="icon-arrows-up" *ngIf="header == selectedHeader && asc"></i>
        <i class="icon-arrows-down" *ngIf="header == selectedHeader && !asc"></i>
      </th>
    </tr>
  </thead>
 <tbody>
    <tr *ngFor="let lead of rows">
      <td>
        {{ lead.id }}
      </td>
      <td>
        {{ lead.name }}
      </td>
      <td>
        {{ lead.CustomerName }}
      </td>
      <td>
        {{ lead.CustomerEmail }}
      </td>
      <td>
        {{ lead.CustomerPhone }}
      </td>
       <td *ngIf = "lead.reminder" >
        {{ lead.reminder }}
      </td>
      <td *ngIf = "!lead.reminder" >
        No reminder
      </td>
       <td *ngIf = "lead.comment">
        {{ lead.comment }}
      </td>
      <td *ngIf = "!lead.comment" >
        No comment
      </td>
       <td>
        {{ lead.date_created }}
      </td>
      <td>
        {{ lead.EmployeeName }}
      </td>
      <td>
        {{ lead.stage }}
      </td>

    </tr>
  </tbody>
</table>


<div class="loader01" *ngIf="spinner"></div>



<div>
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [maxSize]="3" [boundaryLinks]="false" [(pageSize)]="pageSize"
    (pageChange)="onPager($event)"></ngb-pagination>
</div>
