<div style = "padding:2px">
    
   
</div>


<agm-map [(latitude)]="lat" [(longitude)]="lng"  style="height: 800px;"   >
  <div *ngFor="let mark of markersArrSnap">
      
    <!-- <div>{{mark.lat}}</div> -->
    <agm-marker [(latitude)]="mark.lat" [(longitude)]="mark.lng" iconUrl="../assets/images/green.png"*ngIf="mark.occupied == 'On Trip'" > 

    <agm-info-window [disableAutoPan]="false" #infoWindow (markerClick)="marker.lastOpen?.close(); marker.lastOpen" >

        <div>
            

        </div>
        <div>
            <a (click)="onClickInfoView({id:m.id})" class="btn btn-attention pull-right"> 
            <strong>Car id :</strong>    {{mark.id }} <br>
            <strong>Customer name : </strong> {{mark.customer_name }} <br>
            <strong>Customer number :</strong>   {{mark.customer_number }} <br>
            <strong>Driver name :</strong>  {{mark.driver_name }}<br>
            <strong>Driver number :</strong>   {{mark.driver_number }}<i class="fa fa-angle-double-right"></i></a>
        </div>

    </agm-info-window>
    </agm-marker>




<!--  -->
<agm-marker [(latitude)]="mark.lat" [(longitude)]="mark.lng" iconUrl="../assets/images/grey.png"*ngIf="mark.occupied == 'Free'" > 

<agm-info-window [disableAutoPan]="false" #infoWindow (markerClick)="marker.lastOpen?.close(); marker.lastOpen" >

  <div>
      

  </div>
  <div>
      <a (click)="onClickInfoView({id:m.id})" class="btn btn-attention pull-right"> 
      <strong>Car id :</strong>    {{mark.id }} <br>
      <strong>Customer name : </strong> {{mark.customer_name }} <br>
      <strong>Customer number :</strong>   {{mark.customer_number }} <br>
      <strong>Driver name :</strong>  {{mark.driver_name }}<br>
      <strong>Driver number :</strong>   {{mark.driver_number }}<i class="fa fa-angle-double-right"></i></a>
  </div>

</agm-info-window>
</agm-marker>
<!--  -->
<agm-marker [(latitude)]="mark.lat" [(longitude)]="mark.lng" iconUrl="../assets/images/blue.png"*ngIf="mark.occupied == 'On Way To Client'" > 

<agm-info-window [disableAutoPan]="false" #infoWindow (markerClick)="marker.lastOpen?.close(); marker.lastOpen" >

  <div>
      

  </div>
  <div>
      <a (click)="onClickInfoView({id:m.id})" class="btn btn-attention pull-right"> 
      <strong>Car id :</strong>    {{mark.id }} <br>
      <!-- <strong>Customer name : </strong> {{mark.customer_name }} <br>
      <strong>Customer number :</strong>   {{mark.customer_number }} <br>
      <strong>Driver name :</strong>  {{mark.driver_name }}<br>
      <strong>Driver number :</strong>   {{mark.driver_number }}-->
      <i class="fa fa-angle-double-right"></i>
      </a> 
  </div>

</agm-info-window>
</agm-marker>
<!--  -->





    <agm-marker [(latitude)]="mark.lat" [(longitude)]="mark.lng" iconUrl="../assets/images/red.png"*ngIf="mark.occupied == 'Out Of Service'" > 

      <agm-info-window [disableAutoPan]="false" #infoWindow (markerClick)="marker.lastOpen?.close(); marker.lastOpen" >

          <div>
              

          </div>
          <div>
              <a (click)="onClickInfoView({id:m.id})" class="btn btn-attention pull-right"> 
              <strong>Car id :</strong>    {{mark.id }} <br>
              <!-- <strong>Customer name : </strong> {{mark.customer_name }} <br>
              <strong>Customer number :</strong>   {{mark.customer_number }} <br>
              <strong>Driver name :</strong>  {{mark.driver_name }}<br>
              <strong>Driver number :</strong>   {{mark.driver_number }} -->
              <i class="fa fa-angle-double-right"></i></a>
          </div>

      </agm-info-window>
      </agm-marker>

</div>
</agm-map>